﻿.reg-table {
	margin: -20px auto 0 auto !important;
	font-size: 12px;
	overflow-x: hidden;
	background: repeating-linear-gradient(-45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
	color: white;
}

	.reg-table > .table {
		margin-bottom: 0;
	}

	.reg-table .table > tbody > tr {
		background: none;
	}

	.reg-table > .table > tbody > tr > th {
		padding: 20px;
		transition: transform 0.2s ease-in-out, background-position 0.4s ease-in-out;
	}

		.reg-table > .table > tbody > tr > th:not(:first-child):hover {
			transform: scale(1.05);
		}

	.reg-table .table > tbody > tr > td:nth-child(2) {
		max-width: 150px;
	}

	.reg-table .reg-price {
		font-size: 40px;
	}

	.reg-table .reg-price-subtext {
		margin-top: -20px;
		opacity: 0.6;
	}

	.reg-table th, td {
		border-top: none !important;
		vertical-align: middle !important;
	}

		.reg-table th, td:not(:first-child):not(:nth-child(2)) {
			width: 225px;
		}

			.reg-table th:not(:first-child), td:not(:nth-child(2)) {
				text-align: center;
			}

			.reg-table th a.btn {
				bottom: 0;
			}

	/* Icon */
	.reg-table tr > td:first-child {
		font-size: 20px;
		max-width: 20px;
	}

	.reg-table tr > td > img {
		margin-left: -5px;
		width: 25px;
		height: 25px;
	}



	.reg-table tbody:not(:nth-child(2)) > tr:nth-child(2) > td {
		font-size: 18px;
		font-weight: bolder;
	}

	/* Benefits Text */
	.reg-table tr > td:nth-child(2) {
		font-size: 14px;
	}



	.reg-table tr:nth-child(2) > td {
		padding: 20px 8px !important;
	}


	.reg-table td:nth-child(2) > * {
		margin: 8px 0;
	}


	.reg-table td:not(:first-child) > .fa {
		font-size: 24px;
		margin: 0 auto;
	}


	.reg-table tr:nth-child(2n) {
		background: rgba(255, 255, 255, 0.16) !important;
	}

	.reg-table tr > th:not(:first-child) {
		cursor: pointer;
		background-size: auto 200%;
		background-position: 0 100%;
		position: relative;
	}

		.reg-table tr > th:not(:first-child):hover {
			background-position: 0 0;
			z-index: 5;
		}


	/* Attending Column */
	.reg-table tr > th:nth-child(2) {
		background-image: linear-gradient(to bottom, #c24d4d 0%, #2b2b2b 50%, #2b2b2b 100%);
	}

		.reg-table tr > th:nth-child(2) .price-reg-wrapper {
			margin-top: 44px;
		}

	.reg-table tr > td:nth-child(3) {
		background: rgba(255, 100, 100, 0.40);
		color: #ffbfbf;
	}


	/* Sponsor Column */
	.reg-table tr > th:nth-child(3) {
		background-image: linear-gradient(to bottom, #28ccc8 0%, #222222 50%, #222222 100%);
	}

		.reg-table tr > th:nth-child(3) .price-reg-wrapper {
			margin-top: 28px;
		}

	.reg-table tr > td:nth-child(4) {
		background: rgba(46, 255, 249, 0.40);
		color: #a2fffc;
	}

	/* Super Sponsor Column */
	.reg-table tr > th:nth-child(4) {
		background-image: linear-gradient(to bottom, #20ba3a 0%, #2b2b2b 50%, #2b2b2b 100%);
	}

	.reg-table tr > td:nth-child(5) {
		background: rgba(46, 255, 82, 0.40);
		color: #a6ffa2;
	}



/* on shrink */
@media (max-width: 768px) {
	ul.nav.nav-tabs > li {
		min-width: 100%;
	}
}
