﻿/* FONTS */
@font-face {
	font-family: Simpleness;
	src: url(../fonts/Simpleness.otf);
}

@font-face {
	font-family: Rublic-Light;
	src: url(../fonts/Rubik-Light.ttf);
}

@font-face {
	font-family: Minotaur;
	src: url(../fonts/minotaur.ttf);
}

@font-face {
	font-family: Lazer84;
	src: url(../fonts/Lazer84.ttf);
}

@font-face {
	font-family: AlarmClock;
	src: url('../fonts/alarm clock.ttf');
}

/* PAGE LAYOUT */
/*Firefox fix*/
html {
	height: 100%;
	max-height: 100%;
}

body {
	padding-bottom: 20px;
	/*background-color: #171822;*/
	/*background: repeating-linear-gradient(-45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;*/
	background: url(../images/scanline.png) repeat;
	color: #ffb4fc;
	font-family: Rublic-Light;
	font-weight: bold;
	text-shadow: 1px 1px 1px #171822;
	font-size: 16px;
	/*Firefox fix*/
	width: 100%;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	margin: 0px;
	margin-top: 0px;
	padding: 0px;
}

a {
	color: #3d90d8;
	text-decoration: underline;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.body-content {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 80px;
}

/* on shrink */
@media (max-width: 768px) {
	.body-content {
		padding-left: 5px;
		padding-right: 5px;
	}
}


footer.body-content {
	margin-top: 0;
}

.jumbotron {
	margin-top: -60px;
}

	.jumbotron p {
		font-weight: bold;
	}

.well, .jumbotron, .btn-group {
	border-radius: 24px;
	overflow: hidden;
}

.well, .jumbotron, .staff-icon, .btn-group, .modal-content {
	background-color: none;
	background: repeating-linear-gradient(-45deg, #2f2131 0%, #2f2131 10%, #241926 0%, #241926 50%) 0 / 15px 15px;
}

.well, .jumbotron, .staff-icon, .navbar .dropdown-menu, .title-container > img, .btn-group, .modal-content {
	border-color: #ffb4fc;
	border-width: 3px;
	border-style: solid;
	box-shadow: 0px 0px 16px 4px #ff64f7, 0px 0px 16px 4px #ff64f7 inset;
}


	.btn-group > .btn {
		border: none;
		background: none;
		color: #ffb4fc;
		font-size: 24px;
		text-decoration: none;
		font-family: Lazer84;
		border-right: #ffb4fc 5px solid;
		padding-left: 0;
		padding-right: 0;
		transition: background ease-in-out 0.5s;
		box-shadow: 0px 0px 16px 4px #ff64f7 inset;
	}

		.btn-group > .btn:hover, .btn-group > .btn:hover:focus {
			background: rgba(255, 100, 247, 0.60);
		}

		.btn-group > .btn > span {
			margin: 0 auto;
			top: 50%;
		}

		.btn-group > .btn:last-of-type {
			border-right: none;
		}

		.btn-group > .btn > .fa {
			font-size: 50px;
		}

.staff-icon, .btn-group, .modal-content {
	box-shadow: 0px 0px 16px 4px #ff64f7;
}

.ifc-board {
}

.ifc-staff {
	width: 20%;
}

	.ifc-staff .fa {
		font-size: 60px;
	}

	.ifc-board img.staff-icon, .ifc-staff img.staff-icon {
		border-radius: 8px;
	}

@media (max-width: 767px) {
	.jumbotron {
		margin-top: -60px;
	}

	.ifc-staff {
		width: auto;
	}

	.ifc-board, ifc-staff {
		margin: 0 auto;
	}

		.ifc-board img.staff-icon, .ifc-staff img.staff-icon {
			text-align: center;
			display: inline;
			max-width: 50%;
			min-width: 50%;
		}
}

.glow-container {
	background-color: #2f2131;
	box-shadow: 0px 0px 16px 4px #ff64f7;
	border-color: #ffb4fc;
	border-width: 3px;
	border-style: solid;
}

a.policy-container {
	display: block;
}

.policy-container {
	text-align: center;
	/*color: #2efff9;
	text-shadow: 1px 1px 1px #171822, 4px 4px 1px #ff64f7, 0px 0px 5px #a2fffc;*/
}

	.policy-container i.fa {
		font-size: 128px;
		margin: 10px;
	}

	.policy-container:hover {
		color: white !important;
		background: #92398e !important;
	}

.well h1,
.well h2,
.well h3,
.well h4,
.well h5,
.well h6 {
	font-family: Minotaur;
	/*animation: neon 1.5s ease-in-out infinite alternate;*/
}

.well p {
	font-family: Simpleness;
	font-size: 24px;
}

.well h2 {
	font-size: 60px;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 3px solid #ffb4fc;
	border-radius: 3px;
	box-shadow: 0px 0px 12px 3px #ff64f7;
}

.pre-nav-panel {
	max-width: 100%;
	max-height: 300px;
	min-height: 300px;
	overflow: hidden;
	position: relative;
	background-image: linear-gradient(to bottom, #ff64f7 10%, #040C4A 60%);
}

@media (max-width: 767px) {
	.pre-nav-panel {
		display: none;
	}

	.navbar.navbar-inverse {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
	}
}

.affix {
	top: 0;
	width: 100%;
}

	.affix + .container-fluid {
		padding-top: 70px;
		padding-bottom: 90px;
	}

.affix-top + .body-content {
	margin-top: 0px;
}

@media (max-width: 767px) {
	.affix-top + .body-content {
		margin-top: 60px;
	}
}

.navbar {
	border-color: #ffb4fc;
	box-shadow: 0px 0 20px 0 #ff64f7;
	border-left: none;
	border-right: none;
	z-index: 100;
	border-radius: 0;
}

	.navbar, .navbar .dropdown-menu {
		background: url(../images/TitleBackground.png) repeat;
	}

.navbar-header > a, .electro {
	text-shadow: 1px 1px 1px #171822, 4px 4px 1px #ff64f7, 0px 0px 9px #a2fffc;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-header > a,
.navbar-inverse .navbar-brand,
.navbar-inverse .dropdown-menu > li > a,
.electro {
	color: #2efff9;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	word-spacing: 10px;
}

.navbar, h1, h2, h3, h4, h5, h6 {
	font-family: Lazer84;
}

	.navbar .ifc-logo {
		background-image: none;
		padding: 0px 15px;
	}

		.navbar .ifc-logo > img {
			-webkit-filter: drop-shadow(0 0 4px #2efff9);
			filter: drop-shadow(0 0 4px #2efff9);
			height: 100%;
		}


	.navbar .dropdown-menu {
		padding: 0;
	}

		.navbar .dropdown-menu a {
			padding: 15px 20px;
		}

.navbar-toggle {
	padding: 7px 8px;
	margin-top: 6px;
	margin-right: 10px;
	margin-bottom: 6px;
	background-color: rgba(46, 255, 249, 0.4);
	border-color: #a2fffc !important;
	border-width: 3px;
	border-style: solid;
	box-shadow: 0px 0px 6px 3px #2efff9;
	border: 3px solid;
	border-radius: 4px;
}

	.navbar-toggle .icon-bar {
		display: block;
		width: 22px;
		height: 3px;
		border-radius: 1px;
		margin: 4px auto;
		transition: all 0.5s;
		box-shadow: 1px 1px 1px #171822, 4px 4px 1px #ff64f7, 0px 0px 9px #a2fffc;
		/*transition: width 0.5s ease-in-out;*/
	}

		.navbar-toggle .icon-bar:nth-last-of-type(2) {
			width: 14px;
		}

		.navbar-toggle .icon-bar:nth-last-of-type(1) {
			width: 6px;
		}

/*.navbar-toggle:focus .icon-bar:nth-last-of-type(3) {
		width: 6px;
	}

	.navbar-toggle:focus .icon-bar:nth-last-of-type(1) {
		width: 22px;
	}*/

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: rgb(46, 255, 249);
	animation: neon-box-blue 1.5s ease-in-out infinite alternate;
}

	.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar {
		background-color: #ff64f7;
		animation: neon-box 1.5s ease-in-out infinite alternate;
		box-shadow: 1px 1px 1px #171822, 4px 4px 1px #ff64f7, 0px 0px 9px #a2fffc;
	}

.navbar-inverse .navbar-nav > li > a.vhs-blur {
	color: white;
	transition: all 0.05s ease-in-out;
}

	.navbar-inverse .navbar-nav > li > a.vhs-blur:hover, .navbar-inverse .navbar-nav > li > a.vhs-blur:focus {
		transform: scale(1.3);
		text-shadow: 0px 0px 16px #ff64f7;
	}

.navbar-inverse .navbar-collapse {
	border-color: #ffb4fc;
}


@media (max-width: 767px) {
	.navbar-inverse .navbar-nav > li > a.vhs-blur {
		transition: none;
	}

	.navbar-inverse .navbar-collapse::before {
		/*box-shadow: 1px 1px 1px #171822, 4px 4px 1px #ff64f7, 0px 0px 9px #a2fffc;*/
		content: '';
		background: linear-gradient(rgba(255, 100, 247, 0.60) 0%, rgba(0, 0, 0, 0) 100%);
		position: absolute;
		height: 8px;
		left: 0;
		top: 0px;
		right: 0;
		width: 100%;
		z-index: 2;
	}

	.navbar-inverse .navbar-collapse::after {
		/*box-shadow: 1px 1px 1px #171822, 4px 4px 1px #ff64f7, 0px 0px 9px #a2fffc;*/
		content: '';
		background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(255, 100, 247, 0.60) 100%);
		position: absolute;
		height: 8px;
		left: 0;
		bottom: 0px;
		right: 0;
		width: 100%;
		z-index: 2;
	}
}

/* credit to http://stackoverflow.com/questions/19203816/vertical-divider-doesnt-work-in-bootstrap-3 */
.navbar .divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
	border-right-color: #222222;
	border-left-color: #111111;
}

@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
}

.navbar li.link-collection {
	/*display: inline-block;*/
	font-size: 24px;
}


	.navbar li.link-collection > a {
		position: relative;
		display: inline-block;
	}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.policy-container:hover {
	transition: all 0.2s ease-in-out;
	animation: neon-blue 1.5s ease-in-out infinite alternate !important;
	/*background: none;
	color: white;*/
	background: #ff64f7;
	cursor: pointer;
	color: #2efff9;
}

h1, h2, h3, h4, h5, h6 {
	color: #ffd7fd;
	text-shadow: 1px 1px 1px #171822, 4px 4px 1px #ff00dc;
}

	h1 > .glyphicon, h2 > .glyphicon, h3 > .glyphicon, h4 > .glyphicon, h5 > .glyphicon, h6 > .glyphicon {
		color: #ffd7fd;
		text-shadow: 1px 1px 1px #171822, 4px 4px 1px #ff00dc;
	}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
	max-width: 280px;
}

.title-container {
	margin: 0px -25px;
	margin-top: 0px;
	text-align: center;
}

	.title-container > h1, .title-container > h1 > .glyphicon {
		font-size: 72px;
		text-shadow: 0px 0px 4px #a2fffc, 0px 0px 9px #a2fffc, 2px 2px 2px #171822, 10px 10px 1px #ff00dc, 0px 0px 18px #a2fffc, 10px 10px 18px #ffb4fc;
	}

	.title-container > h2, .title-container > h2 > .glyphicon {
		font-size: 36px;
		text-shadow: 0px 0px 2px #a2fffc, 0px 0px 4px #a2fffc, 2px 2px 2px #171822, 4px 4px 1px #ff00dc, 0px 0px 9px #a2fffc, 4px 4px 9px #ffb4fc;
	}


/* Table */

.table-wrapper {
	overflow-x: scroll;
	max-width: 100%;
}

.table {
	overflow-x: scroll;
	max-width: 100%;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	background: repeating-linear-gradient(-45deg, #2f2131 0%, #2f2131 10%, #241926 0%, #241926 50%) 0 / 15px 15px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background: repeating-linear-gradient(-45deg, #212e31 0%, #212e31 10%, #192126 0%, #192126 50%) 0 / 15px 15px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #f2f2f2;
}

/* ************************************************* */
/*                        Panels                     */
/* ************************************************* */
.panel {
	margin-bottom: 20px;
	border-width: 3px;
	border-style: solid;
	color: white !important;
	background-color: none;
	border-color: #ffb4fc;
	box-shadow: 0px 0px 16px 4px #ff64f7, 0px 0px 8px 2px #ff64f7 inset;
	background: repeating-linear-gradient(-45deg, #2f2131 0%, #2f2131 10%, #241926 0%, #241926 50%) 0 / 15px 15px;
	/*border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: -2 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);*/
}

	.panel.panel-clickable {
		cursor: pointer;
		font-weight: bold;
	}

	.panel.panel-explicit-readable,
	.panel.panel-explicit-readable > .panel-heading,
	.panel.panel-explicit-readable > .panel-heading > .panel-title {
		color: White;
		font-family: Rublic-Light;
		font-weight: bold;
		font-size: 16px;
		word-spacing: 0;
		text-shadow: 1px 1px 1px #171822, 0px 0px 1px #171822;
	}

	.panel.reg-panel {
		text-align: center;
	}

		.panel.reg-panel .reg-price {
			font-size: 40px;
		}

		.panel.reg-panel .reg-price-subtext {
			margin-top: -20px;
			opacity: 0.6;
		}

	.panel > * {
		border-top-width: 3px !important;
		border-top-style: solid;
		border-top-color: #ffb4fc;
	}

		.panel > *:first-child, .panel-body, .panel > ul, .panel-footer {
			border-top-width: 0px !important;
		}

	.panel.panel-clickable:hover > .panel-heading, .panel.panel-clickable:hover > .panel-heading {
		background: rgba(255, 100, 247, 0.7);
	}

	.panel > .panel-heading {
		padding: 20px;
		border-top-width: 0 !important;
		border-bottom: 3px solid #ffb4fc;
		background: rgba(255, 180, 252, 0.40);
		background: radial-gradient(rgba(255, 100, 247, 0.79) 0%, rgba(255, 180, 252, 0.18) 100%);
		position: relative;
	}


		.panel > .panel-heading::after {
			content: '';
			background: linear-gradient(#ff64f7 0%, rgba(0, 0, 0, 0) 100%);
			position: absolute;
			height: 8px;
			left: 0;
			bottom: -11px;
			right: 0;
		}

	.panel.reg-panel h1,
	.panel.reg-panel h2,
	.panel.reg-panel h3,
	.panel.reg-panel h4,
	.panel.reg-panel h5,
	.panel.reg-panel h6 {
		margin-top: 0;
		margin-bottom: 0;
		text-shadow: 1px 1px 1px #171822, 0px 0px 3px #171822, 4px 4px 1px #ff00dc;
	}

		.panel.reg-panel h1.electro,
		.panel.reg-panel h2.electro,
		.panel.reg-panel h3.electro,
		.panel.reg-panel h4.electro,
		.panel.reg-panel h5.electro,
		.panel.reg-panel h6.electro {
			margin-top: 0;
			margin-bottom: 0;
			text-shadow: 1px 1px 1px #171822, 0px 0px 3px #171822, 4px 4px 1px #ff00dc, 0px 0px 9px #a2fffc;
		}

	.panel.reg-panel h1 {
		font-size: 48px;
	}

	.panel.reg-panel .btn {
		text-decoration: none;
	}

	.panel > *, .panel > ul > li {
		background: none;
		border-top-style: solid;
		border-top-color: #ffb4fc;
	}

	.panel > ul > li {
		border-top-width: 1px !important;
	}


.panel-danger {
	color: #ffbfbf;
	border-color: #ffbfbf;
	box-shadow: 0px 0px 16px 4px #ff6464;
	background: repeating-linear-gradient(-45deg, #312121 0%, #312121 10%, #241926 0%, #241926 50%) 0 / 15px 15px;
}

	.panel-danger:hover > .panel-heading, .panel-danger:focus > .panel-heading {
		background: rgba(255, 100, 100, 0.7);
	}

	.panel-danger:hover, .panel-danger:focus {
		box-shadow: 0px 0px 16px 4px #ff6464, 0px 0px 8px 2px #ff6464 inset;
	}

	.panel-danger > *, .panel-danger > ul > li {
		border-top-color: #ffbfbf;
	}

	.panel-danger > .panel-heading {
		border-bottom: 3px solid #ffbfbf;
		background: radial-gradient(rgba(255, 100, 100, 0.79) 0%, rgba(255, 180, 252, 0.18) 100%);
	}

		.panel-danger > .panel-heading::after {
			background: linear-gradient(#ff6464 0%, rgba(0, 0, 0, 0) 100%);
		}

.panel-info {
	color: #a2fffc;
	border-color: #a2fffc;
	box-shadow: 0px 0px 16px 4px #2efff9, 0px 0px 8px 2px #2efff9 inset;
	background: repeating-linear-gradient(-45deg, #212e31 0%, #212e31 10%, #192126 0%, #192126 50%) 0 / 15px 15px;
}

	.panel-info.highlight {
		box-shadow: 0px 0px 16px 4px #2efff9;
	}

	.panel-info:hover > .panel-heading, .panel-info:focus > .panel-heading {
		background: rgba(46, 255, 249, 0.7);
	}

	.panel-info.highlight:hover, .panel-info.highlight:focus {
		box-shadow: 0px 0px 16px 4px #2efff9, 0px 0px 8px 2px #2efff9 inset;
	}

	.panel-info > *, .panel-info > ul > li {
		border-top-color: #a2fffc;
	}

	.panel-info > .panel-heading {
		border-bottom: 3px solid #a2fffc;
		background: radial-gradient(rgba(46, 255, 249, 0.79) 0%, rgba(180, 225, 255, 0.18) 100%);
	}

		.panel-info > .panel-heading::after {
			background: linear-gradient(#2efff9 0%, rgba(0, 0, 0, 0) 100%);
		}

.panel-success {
	color: #a6ffa2;
	border-color: #a6ffa2;
	box-shadow: 0px 0px 16px 4px #2eff52;
	background: repeating-linear-gradient(-45deg, #213122 0%, #213122 10%, #192619 0%, #192619 50%) 0 / 15px 15px;
}

	.panel-success:hover > .panel-heading, .panel-success:focus > .panel-heading {
		background: rgba(46, 255, 82, 0.7);
	}

	.panel-success:hover, .panel-success:focus {
		box-shadow: 0px 0px 16px 4px #2eff52, 0px 0px 8px 2px #2eff52 inset;
	}

	.panel-success > *, .panel-success > ul > li {
		border-top-color: #a6ffa2;
	}

	.panel-success > .panel-heading {
		border-bottom: 3px solid #a6ffa2;
		background: radial-gradient(rgba(46, 255, 82, 0.79) 0%, rgba(180, 255, 182, 0.18) 100%);
	}

		.panel-success > .panel-heading::after {
			background: linear-gradient(#2eff52 0%, rgba(0, 0, 0, 0) 100%);
		}


/* ************************************************* */
/*                       Tabs                        */
/* ************************************************* */

.nav-tabs {
	border-color: #ffb4fc;
	font-family: Lazer84;
}

	.nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
		border-radius: 8px 8px 0 0;
		text-decoration: none;
		border-color: #ffb4fc;
		color: #ffb4fc;
		border-width: 3px;
		border-style: solid;
		border-bottom: none;
	}

	.nav-tabs > li > a {
		background: radial-gradient(rgba(255, 100, 247, 0.79) 0%, rgba(255, 180, 252, 0.18) 100%);
	}

		.nav-tabs > li > a:hover,
		.nav-tabs > li > a:focus {
			color: white;
		}

		.nav-tabs > li.active > a,
		.nav-tabs > li > a:hover,
		.nav-tabs > li > a:focus,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus {
			background: rgba(255, 100, 247, 0.7);
		}

			.nav-tabs > li.active > a,
			.nav-tabs > li.active > a:hover,
			.nav-tabs > li.active > a:focus {
				color: #2efff9;
			}

	.nav-tabs > li.active > a {
		box-shadow: 0px 0px 16px 4px #ff64f7;
		text-shadow: 1px 1px 1px #171822, 4px 4px 1px #ff00dc;
	}

.tab-content {
	margin-bottom: 10px;
}

.tab-pane {
	padding-top: 20px;
	box-shadow: 0px 0px 16px 4px #ff64f7;
	border-color: #ffb4fc;
	border-width: 3px;
	border-style: solid;
	background: repeating-linear-gradient(-45deg, #2f2131 0%, #2f2131 10%, #241926 0%, #241926 50%) 0 / 15px 15px;
}

/* ************************************************* */
/*                      Buttons                      */
/* ************************************************* */

.btn {
	background: radial-gradient(rgba(255, 100, 247, 0.79) 0%, rgba(255, 180, 252, 0.18) 100%);
	border-width: 3px;
	border-style: solid;
	border-color: #ff64f7;
	color: white;
	text-decoration: none;
}

	.btn:hover, .btn:focus {
		color: white;
		background: rgb(124, 27, 147);
		border-color: #ffb4fc;
		box-shadow: 0px 0px 8px 2px #ff64f7;
	}

	.btn:active:focus, .btn:active {
		border-color: white !important;
		color: white;
		background: rgb(83, 18, 99);
		box-shadow: 0px 0px 16px 4px #ff64f7;
	}

.btn-primary {
	background: radial-gradient(rgba(46, 255, 249, 0.7) 0%, rgba(180, 225, 255, 0.18) 100%);
	border-color: #2efff9;
}

	.btn-primary:hover, .btn-primary:focus {
		background: rgb(27, 147, 144);
		border-color: #a2fffc;
		box-shadow: 0px 0px 8px 2px #2efff9;
	}

	.btn-primary:active:focus, .btn-primary:active {
		background: rgb(18, 92, 91) !important;
		box-shadow: 0px 0px 16px 4px #2efff9;
	}

.btn-success {
	background: radial-gradient(rgba(46, 255, 82, 0.7) 0%, rgba(180, 255, 182, 0.18) 100%);
	border-color: #2eff52;
}

	.btn-success:hover, .btn-success:focus {
		background: #166b25;
		border-color: #a6ffa2;
		box-shadow: 0px 0px 8px 2px #2eff52;
	}

	.btn-success:active:focus, .btn-success:active {
		background: #0f4418 !important;
		box-shadow: 0px 0px 16px 4px #2eff52;
	}


.btn-danger {
	background: radial-gradient(rgba(255, 100, 100, 0.79) 0%, rgba(255, 180, 252, 0.18) 100%);
	border-color: #ff6464;
}

	.btn-danger:hover, .btn-danger:focus {
		background: #6b1616;
		border-color: #ffbfbf;
		box-shadow: 0px 0px 8px 2px #ff6464;
	}

	.btn-danger:active:focus, .btn-danger:active {
		background: #440f0f !important;
		box-shadow: 0px 0px 16px 4px #ff6464;
	}





/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

.carousel-control, .carousel-indicators li {
	color: #ffb4fc;
}

	.carousel-control .glyphicon.glyphicon-chevron-left, .carousel-control .glyphicon.glyphicon-chevron-right {
		opacity: 1;
	}

	.carousel-control:hover, .carousel-indicators li:hover {
		color: #ffe6fe;
		border-width: 2.5px;
	}

	.carousel-control.right {
		background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(255, 180, 252, 0.50) 100%);
	}

	.carousel-control.left {
		background-image: linear-gradient(to left, rgba(0, 0, 0, .0001) 0%, rgba(255, 180, 252, 0.50) 100%);
	}

.carousel-indicators li {
	border: 1.5px solid rgba(146, 57, 142, 0.80);
	background-color: rgba(255, 180, 252, 0.4);
	box-shadow: 0px 0px 4px 1px rgba(255, 100, 247, 0.8);
	width: 15px;
	height: 15px;
}

.carousel-indicators .active {
	background-color: rgba(255, 180, 252, 0.80);
	box-shadow: 0px 0px 4px 1px rgba(255, 100, 247, 0.80);
	border-width: 2.5px;
	width: 17px;
	height: 17px;
}

.row {
	position: relative;
}

.hotel-container {
	top: 0;
	right: 0;
	bottom: 0;
	position: relative;
	height: 25vh;
}

.hotel-map {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	max-height: 100vh;
}

/* Grid */
/* Inspired by https://codepen.io/George-Payne/pen/qOrxao */
.grid {
	top: -200px;
	bottom: -400px;
	left: -1600px;
	right: -1600px;
	position: absolute;
	/*background-color: #313640;*/
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 49%, #fff 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%), linear-gradient(90deg, #FFF 1px, transparent 2px);
	background-size: 60px 60px;
	background-position: 0 0 0 0;
	transform: perspective(300px) rotateX(80deg);
	animation: throughSpace .8s linear;
	animation-iteration-count: infinite;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

@keyframes throughSpace {
	0% {
		transform: perspective(300px) rotateX(70deg) translateY(0%);
	}

	100% {
		transform: perspective(300px) rotateX(70deg) translateY(5.8%);
	}
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
	display: inline-block;
	content: "[";
	padding-right: 0.5em;
}

.btn-bracketed::after {
	display: inline-block;
	content: "]";
	padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}


	.navbar-brand {
		margin: 5px 0;
	}
}

.img-fullwidth {
	display: block;
	max-width: 100%;
	min-width: 100%;
	height: auto;
}

.hide-on-expand {
	display: block;
}

.hide-on-collapse {
	display: none;
}

[class*="col-"].push {
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.hide-on-expand {
		display: none;
	}

	.hide-on-collapse {
		display: block;
	}

	.hotel-container {
		position: absolute;
		height: 100%;
	}
}

.guest-box {
	text-align: center;
}

	.guest-box h2 {
		margin-top: 0;
		margin-bottom: -16px;
	}

	.guest-box > div {
		margin-bottom: 20px;
		/*float: left;*/
	}

		.guest-box > div:last-of-type, .guest-box > div:first-of-type {
			margin-bottom: 0px;
		}

.img-container {
	/*float: left;*/
	/*margin-right: 16px;*/
}

	.img-container > img {
		max-width: 100%;
	}

.info-container {
	/*float: left;*/
}

	.info-container > h3 {
		font-size: 36px;
		word-spacing: 0px;
		margin-top: 0px;
	}

	.info-container > ul {
		margin-left: -16px;
		margin-bottom: 0px;
		display: block;
		list-style-type: none;
	}

		.info-container > ul > li {
			font-size: 20px;
			font-family: Simpleness;
		}

@media (min-width: 768px) {
	/*.guest-box {
		text-align: left;
	}

	.info-container > ul {
		margin-left: -16px;
		margin-bottom: 0px;
		display: block;
		list-style-type: disc;
	}*/

	.img-container > img {
		max-width: 50%;
	}
}

@media (min-width: 992px) {
	.guest-box {
		text-align: left;
	}

	.info-container > ul {
		margin-left: -16px;
		margin-bottom: 0px;
		display: block;
		list-style-type: disc;
	}

	.img-container > img {
		max-width: 100%;
	}
}

.host-spacer {
	margin-bottom: 40px;
}

@media (min-width: 992px) {
	.host-spacer {
		margin-bottom: 0px;
	}
}

.modal-content > .modal-header h1,
.modal-content > .modal-header h2,
.modal-content > .modal-header h3,
.modal-content > .modal-header h4,
.modal-content > .modal-header h5,
.modal-content > .modal-header h6 {
	text-align: center;
}

.modal-content > .modal-header > div.row > div {
	text-align: center;
}

.modal-body {
	text-align: left;
}

.modal-header {
	border-bottom: 1px solid #ffb4fc;
}

.modal-footer {
	border-top: 1px solid #ffb4fc;
}

@media (min-width: 992px) {
	.modal-content {
		text-align: right;
	}

		.modal-content > .modal-header h1,
		.modal-content > .modal-header h2,
		.modal-content > .modal-header h3,
		.modal-content > .modal-header h4,
		.modal-content > .modal-header h5,
		.modal-content > .modal-header h6 {
			text-align: right;
		}
}

.vhs-blur {
	text-shadow: 5px 0 3px rgba(251, 0, 231, 0.8), 0 5px 3px rgba(0, 233, 235, 0.8), -5px 0 3px rgba(0, 242, 14, 0.8), 0 -5px 3px rgba(244, 45, 0, 0.8), 5px 0 3px rgba(59, 0, 226, 0.8);
}

.vhs-blur-box {
	box-shadow: 5px 0 9px rgba(251, 0, 231, 0.8), 0 5px 9px rgba(0, 233, 235, 0.8), -5px 0 9px rgba(0, 242, 14, 0.8), 0 -5px 9px rgba(244, 45, 0, 0.8), 5px 0 9px rgba(59, 0, 226, 0.8);
	border: none;
	border-radius: 2px;
}

.font-minotaur {
	font-family: Minotaur !important;
}

.font-lazer84 {
	font-family: Lazer84 !important;
}

.font-simpleness {
	font-family: Simpleness !important;
}

.font-rubik-light {
	font-family: Rublic-Light !important;
}

.font-alarm-clock {
	font-family: AlarmClock !important;
}


.font-align-right {
	text-align: right !important;
}

.font-align-left {
	text-align: left !important;
}

.margin-20 {
	margin-bottom: 20px;
	margin-top: 20px;
}

.margin-top-20 {
	margin-top: 20px;
}

.no-margin-bot {
	margin-bottom: 0;
}

.no-margin-top {
	margin-top: 0 !important;
}

img.max-width-50 {
	max-width: 50%;
}


#countdown {
	font-size: 36px;
	font-weight: bold;
	font-family: AlarmClock;
	margin-top: 0;
	margin-bottom: 0;
}


@media (min-width: 992px) {
	#countdown {
		font-size: 72px;
	}
}


/* Facebook Feed */
._2p3a {
	box-shadow: 0px 0px 16px 4px #ff64f7, 0px 0px 16px 4px #ff64f7 inset;
}

@keyframes neon {
	from {
		text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 20px #ff64f7, 0 0 35px #ff64f7, 0 0 40px #ff64f7, 0 0 50px #ff64f7, 0 0 75px #ff64f7;
	}

	to {
		text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 10px #ff64f7, 0 0 10px #ff64f7, 0 0 20px #ff64f7, 0 0 25px #ff64f7, 0 0 37px #ff64f7;
	}
}

@keyframes neon-box {
	from {
		box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 20px #ff64f7, 0 0 35px #ff64f7, 0 0 40px #ff64f7, 0 0 50px #ff64f7, 0 0 75px #ff64f7;
	}

	to {
		box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 10px #ff64f7, 0 0 10px #ff64f7, 0 0 20px #ff64f7, 0 0 25px #ff64f7, 0 0 37px #ff64f7;
	}
}

@keyframes neon-blue {
	from {
		text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 20px #2efff9, 0 0 35px #2efff9, 0 0 40px #2efff9, 0 0 50px #2efff9, 0 0 75px #2efff9;
	}

	to {
		text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 10px #2efff9, 0 0 10px #2efff9, 0 0 20px #2efff9, 0 0 25px #2efff9, 0 0 37px #2efff9;
	}
}

@keyframes neon-box-blue {
	from {
		box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 20px #2efff9, 0 0 35px #2efff9, 0 0 40px #2efff9, 0 0 50px #2efff9, 0 0 75px #2efff9;
	}

	to {
		box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 10px #2efff9, 0 0 10px #2efff9, 0 0 20px #2efff9, 0 0 25px #2efff9, 0 0 37px #2efff9;
	}
}

/* FRONT PAGE */

.pre-nav-panel .ifc-logo {
	height: 140px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	animation-delay: 0.5s;
	right: 0;
	filter: drop-shadow(0 0 4px #fff);
}

.pre-nav-panel .ifc-logo-skyline {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 50px;
	background-repeat: repeat-x;
	background-size: 400px auto;
	background-image: url("../images/Skyline_2017.png");
	/*width: 100%;*/
}
	/* Fixing a small quirk where the IFC logo would show up prematurely beneath the skyline */
	.pre-nav-panel .ifc-logo-skyline::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 100px;
		height: 300px;
		background-color: rgb(4, 12, 74);
		overflow: auto;
		/*background-color: #2eff52;*/
	}

.pre-nav-panel .ifc-logo-text {
	height: 120px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 120px;
	/*animation-delay: .75s;*/
	animation-duration: 2.5s;
	filter: drop-shadow(0 0 4px #ff64f7);
}

.pre-nav-panel .ifc-logo-text-year {
	height: 30px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 220px;
	animation-delay: 1s;
	filter: drop-shadow(0 0 4px #fff);
}

.pre-nav-panel .logo-glow {
	position: absolute;
	left: 0;
	right: 0;
	background-color: #fff;
	top: 61%;
	height: 2px;
	box-shadow: 0 0 16px 4px #fff, 0 0 16px 4px #fff;
}

.pre-nav-panel .ifc-logo-buffalo {
	position: absolute;
	left: 20%;
	top: 35px;
	height: 300px;
	filter: drop-shadow(0 0 4px #fff);
}

	.pre-nav-panel .ifc-logo-buffalo::before {
	}


.pre-nav-panel .ifc-logo-cardinal {
	position: absolute;
	right: 15%;
	top: 20px;
	height: 600px;
	filter: drop-shadow(0 0 4px #fff);
}


.content-wrapper {
	text-align: center;
}

.sparkley {
	color: white;
}
