﻿@using IndyFurConCore.Util
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, IndyFurConCore
<!DOCTYPE html>
<html lang="us-en">
<head>
    @* IE backup *@
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8"/>
    <meta name="description" content="IndyFurCon 2017, Indiana's 8th annual furry convention.</a>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - IndyFurCon</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/ifc.ico")"/>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css"/>
        <link rel="stylesheet" href="~/lib/animate.css/animate.css">
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
</head>
<body>
    @RenderSection("prenav", required: false)
    <div id="navbar" class="navbar navbar-inverse @if (!IsSectionDefined("prenav")) { @Html.Raw("navbar-fixed-top") }" @if (IsSectionDefined("prenav")){ @Html.Raw("data-spy=\"affix\" data-offset-top=\"300\"") }>
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand ifc-logo">
                    <img src="@Url.Content("~/images/iFC Transparent Logo wht sml.png")" alt="ifc-logo-sml" />
                </a>
                @*<a href="@Url.Action("Index", "Home")" class="navbar-brand hide-on-collapse"><b>Indy</b>FurCon</a>*@
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Register", "Home")" class="electro">Register</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
                        <ul class="dropdown-menu slideInDown" role="menu">
                            <li>@Html.ActionLink("Charity", "Charity", "About")</li>
                            <li>@Html.ActionLink("Staff", "Staff", "About")</li>
                            <li>@Html.ActionLink("About IndyFurCon", "Index", "About")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Attend <span class="caret"></span></a>
                        <ul class="dropdown-menu slideInDown" role="menu">
                            <li>@Html.ActionLink("Programming", "Programming", "Attend")</li>
                            <li>@Html.ActionLink("Hotel", "Hotel", "Attend")</li>
                            <li>@Html.ActionLink("Travel", "Travel", "Attend")</li>
                            <li>@Html.ActionLink("Policies", "Index", "Policies")</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="link-collection">
                        <a class="vhs-blur" href="https://twitter.com/IndyFurCon" alt="Twitter"><span class="fa fa-twitter"></span></a>
                        <a class="vhs-blur" href="https://www.facebook.com/IndyFurCon" alt="Facebook"><span class="fa fa-facebook-official"></span></a>
                        <a class="vhs-blur" href="https://www.youtube.com/user/TheIndyFurCon" alt="Youtube"><span class="fa fa-youtube-play"></span></a>
                        <a class="vhs-blur" href="https://www.furaffinity.net/user/IndyFurCon" alt="FurAffinity"><span class="fa fa-paw"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="container body-content">
        <hr />
        <p>&copy; 2017 - IndyFurCon/Con Glomerate</p>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
