﻿@{
    ViewBag.Title = "Home Page";
}

@* Overriding the style of iframes *@
<style>
    iframe {
        width: 100% !important;
    }

    .btn-row .btn {
        font-size: 24px;
        font-family: Simpleness;
    }
</style>
<div class="container-body">
    <div class="hide-on-expand title-container">
        <img id="title-image" class="img-fullwidth" src="@Url.Content("~/images/2017_HighRes.png")">
        <h2 id="title-subtitle" class="no-margin-top">
            We <span class="glyphicon glyphicon-heart-empty"></span> the 80s!
        </h2>
    </div>
    <div class="row" id="clockRow" style="display: none;">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body" style="text-align: center">
                    <h1 id="countdown">We &lt;3 javascript</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 class="no-margin-top">When</h2>
                <p>Fri-Sun, August 11-13, 2017</p>
                <hr />
                <h2>Where</h2>
                <p>
                    <a href="@Url.Action("Hotel", "Attend")#marriott">Indianapolis Marriott East</a>,
                    Indianapolis, IN
                </p>
                <div class="row btn-row">
                    <div class="col-md-4">
                        <a class="btn btn-info btn-block" href="https://www.google.com/maps/place/Indianapolis+Marriott+East,+7202+E+21st+St,+Indianapolis,+IN+46219" target="_blank">
                            <i class="fa fa-map"></i><br />
                            Navigation
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-primary btn-block" href="http://indyfurcon2017.sched.com/" target="_blank">
                            <i class="fa fa-calendar"></i><br />
                            <span>Schedule</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-success btn-block" href="@Url.Action("Volunteer", "About")">
                            <i class="fa fa-group"></i><br />
                            <span>Volunteer</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <div class="row guest-box">
                    <div class="col-md-12">
                        <h2>Guests of Honor</h2>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-4 img-container">
                                <img class="staff-icon" src="@Url.Content("~/images/xander-the-blue.jpg")" />
                            </div>
                            <div class="col-md-8 info-container">
                                <h3><span>Xander</span> <span>the Blue</span></h3>
                                <ul>
                                    <li>Artist</li>
                                    <li>Comedian</li>
                                    <li>Fursuiter</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-4 img-container">
                                <img class="staff-icon" src="@Url.Content("~/images/doryuu.jpg")" />
                            </div>
                            <div class="col-md-8 info-container">
                                <h3>Doryuu</h3>
                                <ul>
                                    <li>Artist</li>
                                    <li>Dancer</li>
                                    <li>Fursuiter</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="font-size: 20px">
            <div class="panel panel-info">
                <div class="panel-body">
                    <p>
                        IndyFurCon 2017, <a href="about">Indiana's 8th annual</a> <a href="https://en.wikipedia.org/wiki/Furry_convention">furry convention</a>,
                        takes place Friday-Sunday, August 11-13, 2017 at the <a href="hotel">Indianapolis Marriott East</a>! iFC2017, themed
                        "We Love the 80s," welcomes guests of honor Doryuu and Xander The Blue and raises donations for
                        <a href="charity">Southside Animal Shelter</a> to rescue at-risk adoptable cats and dogs.
                    </p>
                    <p>
                        IndyFurCon thanks our 1010 attendees of iFC2016 for making our convention awesome and raising $10,286 for
                        <a href="charity">Southside Animal Shelter</a> to rescue many cats and dogs. Thank you volunteers and panelists for
                        your hard work entertaining everyone with 160 hours of programming. Thank you sponsors and super sponsors who enable
                        us to make iFC2017 even better. See you again in August!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div id="facebook" class="col-md-6">
                    <iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FIndyFurCon&amp;colorscheme=light&amp;show_faces=false&amp;stream=true&amp;header=true&amp;width=600&amp;height=600" scrolling="yes" frameborder="0" style="width: 100%; height: 600px;" allowtransparency="true"></iframe>
                </div>
                <div id="twitter" class="col-md-6">
                    <a class="twitter-timeline" href="https://twitter.com/IndyFurCon" data-widget-id="577180197528600576">Tweets by @@IndyFurCon</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="screenblock" class="screen-block" style="display: none; position: fixed; left:0; right: 0; bottom: 0; top: 0; z-index: 101">
    <video loop id="vid" style="min-width: 100%; min-height: 100%">
        <source src="@Url.Content("~/videos/surprise.mp4")" type="video/mp4">
    </video>
</div>
<button id="screenblockremover" class="btn btn-block btn-danger" style="display: none; position: fixed; bottom: 10px; left: 10px; right: 20px; z-index: 1000;" onclick="removeTheSexy()">
    <h1 style="margin: 10vh 0;">
        MAKE IT STOP!!!
    </h1>
</button>

@section prenav {
    <div class="pre-nav-panel">
        <div class="content-wrapper">
            <img src="@Url.Content("~/images/Logo_2017.png")" class="ifc-logo animated fadeInUp" />
            <div class="ifc-logo-skyline animated slideInUp"></div>
        </div>
        <div class="grid animated slideInUp"></div>
        <div class="content-wrapper">
            <div class="logo-glow"></div>
            <img src="@Url.Content("~/images/buffalo.png")" class="ifc-logo-buffalo animated fadeInLeft" />
            <img src="@Url.Content("~/images/cardinal.png")" class="ifc-logo-cardinal animated fadeInRight" />
            <img src="@Url.Content("~/images/Text_2017.png")" class="ifc-logo-text animated zoomInDown" />
            <img src="@Url.Content("~/images/2017.png")" class="ifc-logo-text-year animated lightSpeedIn" />
        </div>
    </div>
}
@section scripts {
    <script src="~/lib/jquery.countdown/dist/jquery.countdown.js"></script>
    <script>
        $(document).ready(function () {
            $("#clockRow").show();
            var ceremonies = new Date(2017, 7, 11, 11, 0, 0, 0);
            //$("#countdown").countdown(new Date(2017, 7, 11, 11, 0, 0, 0))
            var now = new Date();
            var soon = now.setSeconds(now.getSeconds() + 3);

            // Are we before ceremonies
            if (ceremonies > now) {
                // Test
                //$("#countdown").countdown(soon)
                $("#countdown").countdown(ceremonies)
                    .on('update.countdown', function (e) {
                        $(this).text(e.strftime('%D:%H:%M:%S'));
                    })
                    .on('finish.countdown', function (e) {
                        var test = $("#vid").get(0);
                        test.play();
                        $('#screenblock').show();

                        if (test.requestFullScreen
                            || test.mozRequestFullScreen
                            || test.webkitRequestFullScreen
                            || test.webkitEnterFullscreen) {
                            $('#screenblockremover').delay(10000).fadeIn(1000);
                        } else {
                            // Your browser sucks
                            $('#screenblock').hide();
                            return;
                        }
                    });
            } else {
                removeTheSexy();
            }

        });

        function removeTheSexy() {
            $("#clockRow").hide();
            $('#screenblock').remove();
            $('#screenblockremover').remove();
        }

        $('#title-image').on('load', function () {
            $('#title-image').addClass("animated fadeInDown");
            $('#title-subtitle').addClass("animated fadeIn");
        });
    </script>
}