﻿@{
    ViewBag.Title = "Convention Policy and Conduct Code";
}

<h1>Convention Policy and Conduct Code</h1>
<p>The following general rule supersedes all others listed below and may be invoked at any time:</p>
<p>
    Any action or behavior that causes significant interference with convention operations, excessive
    discomfort to other attendees, or adversely affects IndyFurCon's relationship with its guests, its
    venues or the public is strictly forbidden and may result in permanent suspension of membership.
</p>

<!-- #region Introduction -->
<h2 id="introduction">Introduction</h2>
<p>
    The primary purpose of IndyFurCon is for our attendees to have fun. To ensure that the greatest
    number of people achieve this objective we have established certain rules of conduct. By them we
    seek only to ensure that the behavior of any one small group does not disturb the membership as a
    whole, nor does it detract from the relaxed and comfortable atmosphere of the convention.
    IndyFurCon welcomes all parties with an interest in anthropomorphic animals; however, the
    convention's management reserves the right to deny or revoke the membership of any individual at
    any time for any reason.
</p>
<p>
    The parent company, Whoozfur Inc. also reserves the right to amend these rules at any time without
    prior or posted notice and reserves the sole right of interpretation. In any dispute, the general rule
    above will apply. If you have any questions, please contact the convention operations staff for
    assistance.
</p>
<p>
    Anyone who accepts a membership badge agrees to indemnify and hold harmless Whoozfur, Inc. from any claim for
    personal injuries or other damages or equity arising out of any individual's activities at IndyFurCon, even if
    such injury or damage is caused by negligence by or on the part of Whoozfur, Inc.
</p>
<p>
    As a condition of membership, all IndyFurCon attendees are required to abide by these standards of conduct for
    the entire duration of their stay, even prior to Opening or after Closing Ceremonies.
</p>
<!-- #endregion -->
<!-- #region General Ration of the Convention -->
<h2 id="rating">General Rating of the Convention</h2>
<p>
    IndyFurCon seeks to make its staff members available to its attendees. Staff members will be
    wearing special badges to indicate their status. If you have a problem, please alert a member of staff
    or security to the issue.
</p>
<p>
    All convention areas are considered to be "PG" at all times, with the exception of events or exhibits
    that are specifically noted to be inappropriate for minors and access to which is controlled by
    IndyFurCon Security staff.
</p>
<p>
    Attendees, when in public areas, may not wear clothing which is overly revealing or inappropriate to
    the atmosphere of the convention, such as fetish-related garb and accouterments. Collars and
    harnesses are acceptable and are worn by numerous attendees as a fashion statement, but leashes
    attached thereunto are not.
</p>
<p>
    Shirts, pants/shorts, and footwear must be worn when in areas of the hotel or convention center that
    are accessible to non- IndyFurCon attendees, such as lobbies, restaurants and concourses, except
    for the pool area.
</p>
<p>
    Full-body fursuits are excluded from the "shirts/pants/footwear" rule, provided that the costume is not
    unacceptably revealing or wearing inappropriate clothing (ie undergarments). Certain accoutrements
    such as leashes may be included as part of a costume at the discretion of the Security Staff. For
    safety reasons, fursuits are not permitted in the hotel swimming pool or dining areas.
</p>
<p>
    Public displays of affection beyond what is appropriate for polite company are frowned upon. You
    will be asked to express your devotion to your significant other either in less conspicuous ways, or in
    private.
</p>
<!-- #endregion -->
<!-- #region Public Decorum -->
<h2 id="decorum">Public Decorum</h2>
<p>
    No items of any kind, may be thrown or dropped from the hotel or Convention Center balconies or
    patios.
</p>
<p>
    Drones and other remote controlled devices are not allowed in convention space. You may check
    with convention operations to see if your device is permissible to use in con space.
</p>
<p>
    No water pistols, silly string, or any thrown or projectile-type toy may be used in any area of the hotel
    or Convention Center.
</p>
<p>
    For safety reasons, only handheld glowsticks are permitted in the dances. Glowsticks on strings or
    on polearms must be cleared with Security staff before being used. The decision of the Security staff
    on any particular item will be final.
</p>
<p>No sleeping in the lobby, the hallways, the meeting rooms or the Zoo. Get a room, please!</p>
<p>
    IndyFurCon attendees must abide by instructions given by IndyFurCon Security staff. Failure to do
    so will result in loss of membership privileges. Any disputes or concerns may be addressed onsite at
    Convention Operations.
</p>
<p>
    IndyFurCon functions are open only to members, and all attendees should wear their membership
    badges at all times. A badge is valid only for the person to whom it was issued; badges may not be
    shared under any circumstances.
</p>
<p>
    Convention attendees must wear their official convention badge at all times while in public
    convention areas, and it must be shown upon request to any member of convention staff, security,
    hotel staff, or law enforcement. Your badge will contain a badge name of your choosing (subject to
    staff approval), as well as a unique number. Altering convention badges in such a manner as to
    permanently obscure any of these elements renders the badge unusable. If your badge becomes
    unusable or is lost, it will be replaced at a rate of $20.00 U.S. per badge. Any person found using a
    counterfeit badge, using a badge not belonging to them, or making copies of their badge for others
    will have their membership revoked and will be asked not to return during that year or subsequent
    years. Returning the “missing” badge to convention operations within a short period of time if found
    (“acceptable” amount of time is at the discretion of Indyfurcon) will allow the badge owner to a $10
    refund.
</p>
<p>
    There is no smoking or vaping in any area within the Marriott Indianapolis East, their courtyard, or
    their Convention Center, including the guest rooms unless otherwise designated by the hotel.
    Smokers are asked to use designated smoking areas provided by the facility, and comply with any
    other smoking rules of the facility. Cigarette butts must be disposed of properly and not left on the
    ground.
</p>
<p>
    Providing transportation or housing, or otherwise enabling an individual that is known to be
    unwelcome at IndyFurCon to attend or enter the Convention's property may result in permanent
    revocation of IndyFurCon membership privileges.
</p>
<!-- #endregion -->
<!-- #region Attendance by Minors -->
<h2 id="minors">Attendance by Minors</h2>
<p>
    Anyone who is under the age of 18 years at any time during the convention must present a signed
    and notarized parental permission form unless accompanied by a parent or able to produce
    evidence of legal emancipation. There are no exceptions.
</p>
<p>
    Teenagers ages 16 and 17 may attend IndyFurCon without a parent. However, at registration, they
    must present government-issued photo-ID stating their legal name and birth date and a "Parental
    Consent For Minor To Attend IndyFurCon" form signed by their parent or legal guardian and
    notarized by a Notary Public.
</p>
<p>
    All attendees age 15 and below must be accompanied by a parent or legal guardian at all times in
    any official convention area including, but not limited to, the Dealer's Den, Hospitality Suite, Special
    Events, all panels, and dances. Parents and guardians will be held responsible for damage or
    problems caused by their child.
</p>
<p>
    Minors are not permitted under any circumstances to enter areas that have been designated for
    mature audiences.
</p>
<p>
    Anyone providing false documentation of identity or age will be denied membership and reported
    to the police.
</p>
<!-- #endregion -->
<!-- #region Weapons Policy -->
<h2 id="weapons">Weapons Policy</h2>
<p>
    No actual weapons or any item that can be easily mistaken for one may be carried either openly or
    concealed at any time on the Marriott Indianapolis East or Convention Center property, regardless of
    any government permits which you may possess. Personal pocket knives with single-edged blades
    less than 4 inches long are permitted.
</p>
<p>
    Realistic weapon replicas are permitted as part of a costume only during costume events such as
    the Fursuit Parade, and must be appropriately peace-bonded; see the Security Staff for instruction
    on how to do so. They must be cased or otherwise secured when being carried outside of costume.
</p>
<!-- #endregion -->
<!-- #region Pet Policy -->
<h2 id="pets">Pet Policy</h2>
<p>
    IndyFurCon does not allow pets in the con space. This is for the protection of the pet, the pet owner,
    and our attendees as a whole. Service animals are permitted in accordance with the Americans with
    Disabilities Act.
</p>
<p>
    The hotel itself may, however, allow pets in the guest rooms, and there may be a fee required when
    reserving your hotel room before you can check in. All laws and regulations, in addition to the rules
    stipulated by the Marriott Indianapolis East, must be followed by the attendee for such purpose of
    having a pet with them over the weekend. Please contact the hotel directly with additional pet-related
    questions.
</p>
<!-- #endregion -->
<!-- #region Parties and similar gatherings in the hotel rooms -->
<h2 id="parties">Parties and similar gatherings in hotel rooms</h2>
<p>
    Gatherings in hotel rooms must not generate any noise that can be heard in neighboring rooms during
    nighttime hours.
</p>
<p>
    Hotel doors must be kept shut during such gatherings and guests are not permitted to congregate
    in the hotel corridors.
</p>
<p>
    Loud parties will be given a single warning to remain quiet. No second warnings will be given
    before action is taken by the hotel to remove the offending individuals.
</p>
<p>
    Hotel guests who host any gathering are responsible for cleaning up afterward. Excessive amounts of unbagged trash
    must not be left for housekeeping staff to clean up (it's just plain rude). Trash bags are provided. Use them.
</p>
<!-- #endregion -->
<!-- #region Other hotel matters -->
<h2 id="hotel">Other hotel matters</h2>
<p>
    Any act of vandalism, deliberate or excessive damage to hotel property, or interference with any
    hotel or Convention Center worker in the performance of his or her duties will result in permanent
    revocation of IndyFurCon membership, criminal prosecution, fines, or any combination thereof.
</p>
<p>
    Any attendees engaging in behavior which endangers life or property (such as, but not limited to,
    pulling fire alarms, creating hazardous situations, and etc) will have their membership revoked
    immediately, and may be asked not to return to future events organized by Whoozfur Inc. If
    warranted, law enforcement may be called.
</p>
<p>
    The person in whose name a room is rented is solely responsible for the conduct of all individuals in
    the room as well as for the condition of the room. Excessive trash, soiling or other damage to hotel
    property, or any circumstance that may present a hazard to hotel housekeeping staff may result in
    permanent loss of IndyFurCon membership privileges.
</p>
<p>
    The Marriott Indianapolis East hotel housekeeping staff are required by corporate policy to inspect
    every room once per day, even if the room is not to be serviced. Housekeepers will not begin their
    rounds until 10:00 AM. Thereafter they will initially bypass rooms with "do not disturb" signs on the
    doors, but at the end of their rounds they must return to those rooms and will knock on the door.
    Attendees must allow housekeeping staff access to the room at that time. That means that even if
    the "do not disturb" sign is displayed, after 10:00 AM the room must at some point be inspected and
    serviced (if necessary) by the end of housekeeping rounds.
</p>
<p>
    Do not affix anything to the walls of the hotel or Convention Center, to the elevators, to IndyFurCon
    signage, or to hotel room doors. IndyFurCon will attempt to provide a message board in a public
    area where members may post messages or place announcements.
</p>
<p>
    Requests for room amenities such as towels and pillows beyond the number that is reasonable and
    customary for a single room will not be honored. Kindly bring such extra items from home if they are
    expected to be needed.
</p>
<p>
    IndyFurCon is not responsible for items left in public areas. A lost and found will be setup in the con-
    ops room. If you find something that is not yours, take it there so that whoever lost it can come pick it
    up later. This includes but not limited to: cameras, mp3 players, cell phones, fursuit heads/parts/etc,
    purses, wallets, and so on.
</p>
<!-- #endregion -->
<!-- #region Sales of Merchandise -->
<h2 id="merchandise">Sales of Merchandise</h2>
<p>
    The offering for sale of any merchandise at the convention may be undertaken only in appropriate
    areas of the “Dealers Den”; in all cases the sale will be governed by the rules applicable to those
    areas. It is illegal to sell any other merchandise or services in any other areas, including the
    IndyFurCon "Zoo."
</p>
<!-- #endregion -->
<!-- #region Harassment -->
<h2 id="harassment">Harassment</h2>
<p>
    Harassment of any kind, including physical assault, battery, deliberate intimidation, stalking, or
    unwelcome physical attentions, will not be tolerated. If people tell you "no" or to leave them alone,
    your business with them is done. If you continue to attempt to have contact with those people, you
    may be removed from the premises.
</p>
<p>
    IndyFurCon is not responsible for solving any interpersonal problems that may arise between
    individual members. In general, we can take no action to prevent a person from attending the
    convention unless that person has made a specific and credible threat toward the convention itself or
    if another individual can produce a legal restraining order.
</p>
<!-- #endregion -->
<!-- #region Substance Abuse -->
<h2 id="substances">Substance Abuse</h2>
<p>
    The sale or other distribution of any illegal or controlled substances is not welcome at IndyFurCon.
    Any individual found to be distributing such substances will be removed and reported directly to the
    local authorities.
</p>
<p>
    Anyone knowingly or unknowingly providing alcohol to anyone under the age of 21 will be guilty of a
    felony and will be turned over to the authorities. It is the sole responsibility of persons serving alcohol
    in room parties to ensure that every person in attendance is over the age of 21, even if that person is
    not drinking alcohol. The Indiana Liquor Control Board is extremely serious about this law and we
    ask our members to respect it. There is to be at no time any alcohol on the con floor or in con space.
    All alcohol must stay in the bar/restaurant area or attendees rooms. Please drink responsibly and
    know your limit. Drunken and disorderly conduct could result in removal from IndyFurCon and the
    Marriott Indianapolis East or jail time if the authorities are called.
</p>
<!-- #endregion -->
<!-- #region Media Relations and Use of IndyFurCon  Images or Footage-->
<h2 id="media">Media Relations and Use of IndyFurCon Images or Footage</h2>
<p>
    All journalists, media photographers, and any other members of the press are required to display an
    official IndyFurCon Press Badge or be accompanied by a senior IndyFurCon staff member at all
    times while in the Convention Center, the Marriott Indianapolis East, or any IndyFurCon hotel.
    Members of the press who have not been issued a Press Badge may not conduct interviews or take
    photographs, audio or video footage without an escort.
</p>
<p>
    If members of the media are present, attendees must act responsibly. Media representatives who do
    not have Press Badges and are not escorted by an IndyFurCon staff member should be reported to
    IndyFurCon Security staff or to Convention Operations immediately. Do not speak to any unbadged
    and unescorted members of the press!
</p>
<p>
    IndyFurCon members should be aware that audio and/or video recordings are frequently made in
    convention areas and that their likenesses may appear in those recordings. Individual members
    agree to assign without compensation the use of their likeness(es) at IndyFurCon for the use of
    promotional material such as the highlights videos.
</p>
<p>
    The name "IndyFurCon" and the IndyFurCon logo are registered service marks of Whoozfur, Inc.,
    and must not be used in any fashion that disparages or dilutes that mark. Members agree to remove
    from circulation or publication any image or recording that in the sole opinion of Whoozfur, Inc.
    misrepresents or defames its service mark.
</p>
<!-- #endregion -->
<!-- #region Payments to IndyFurCon and other money matters -->
<h2 id="payments">Payments to IndyFurCon and other money matters</h2>
<p>
    Please note that IndyFurCon is a 501(c)7 nonprofit organization. As such, donations to the
    organization are not deductible from individual U.S. Federal income taxes.
</p>
<p>
    Checks that are presented against insufficient funds will be charged a fee of $30 per check.
</p>
<p>
    IndyFurCon also accepts VISA, MasterCard, and Discover cards. Chargebacks (denying a charge)
    that are made for the sole purpose of avoiding payment, that are made without sufficient cause, or
    that are made without first attempting to resolve the dispute with IndyFurCon may result in
    permanent revocation of membership privileges and possible legal action.
</p>
<p>
    Members who have an outstanding balance due to IndyFurCon must settle that balance before
    being permitted to attend the convention.
</p>
<p>
    IndyFurCon cannot involve itself in financial disputes between individual members, and cannot
    divulge information about an individual member to any party other than to banking officials or legal
    authorities.
</p>
<!-- #endregion -->
<!-- #region Miscellaneous notes -->
<h2 id="misc">Miscellaneous notes</h2>
<p>
    The standards of conduct for IndyFurCon will be strictly enforced by IndyFurCon security volunteers
    who will be clearly identified as such on site. Please remember that your con badge is the property
    of Whoozfur, Inc. and must be presented and/or surrendered to any Staff member requesting it. If
    you have any problem with any action taken by a Staff member you may take the matter up with the
    Chief of Security or to IndyFurCon&#39;s Chairman. Any attendee that is asked to leave will not be
    entitled to any manner of refund or compensation for the price of their membership. This includes all
    levels of membership.
</p>
<p>
    Please be reminded that these rules involve, of course, &quot;worst-case&quot; scenarios and are put into
    place to ensure the safety and comfort of our members. They are also not all-inclusive; in all cases,
    the singular rule that supersedes all others is, &quot;Any action or behavior that causes significant
    interference with convention operations, excessive discomfort to other attendees, or adversely
    affects IndyFurCon&#39;s relationship with its guests, its venue or the public is strictly forbidden and may
    result in revocation of membership privileges.&quot; We anticipate no difficulties, as our members as a
    whole are rational and responsible adults.
</p>
<p>
    IndyFurCon is prepared to deal with any or all of the above scenarios in as rapid and efficient a
    manner as possible should they occur. We thank our members for their past cooperation and for
    their continued assistance in making this a safe and enjoyable experience for everyone. Have fun –
    just please remember to be courteous of those around you while doing so!
</p>
<!-- #endregion -->
<p>
    Paul "Pandez" Crozier<br>
    Chairman, IndyFurCon
</p>
<div class="col-md-offset-4 col-md-4">
    <a class="well policy-container" href="@Url.Action(" MediaAndPress", "Policies" )">
        <i class="fa fa-microphone" aria-hidden="true"></i>
        <p>Media and Press Policies</p>
    </a>
</div>
<div class="col-md-4">
    <a class="well policy-container" href="@Url.Action(" Privacy", "Policies" )">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <p>Privacy Policy</p>
    </a>
</div>