﻿@{
    ViewBag.Title = "Policies";
}

<div class="jumbotron">
    <h1><span>IndyFurCon</span> <span>Policies</span></h1>
</div>

<div class="col-md-4">
    <a class="well policy-container" href="@Url.Action("ConventionAndConduct", "Policies")">
        <i class="fa fa-smile-o" aria-hidden="true"></i>
        <p>Convention Policy and Conduct Code</p>
    </a>
</div>
<div class="col-md-4">
    <a class="well policy-container" href="@Url.Action("MediaAndPress", "Policies")">
        <i class="fa fa-microphone" aria-hidden="true"></i>
        <p>Media and Press Policies</p>
    </a>
</div>
<div class="col-md-4">
    <a class="well policy-container" href="@Url.Action("Privacy", "Policies")">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <p>Privacy Policy</p>
    </a>
</div>