﻿@{
    ViewBag.Title = "Media and Press Policies";
}

<h1>Media and Press Policies</h1>
<p>IFC's attendees get together each year purely to have fun. The organizers understand that large gatherings of furries may seem an unusual sight to many and thus are often targets of the attention of the media. Some reports in the past have been less than accurate or appropriate and have caused many of our attendees to shy away from the media spotlight. The presence of media, thus, detracts from the ability of our attendees to relax and enjoy the convention.</p>
<p>Whoozfur Inc. respects the privacy of its membership and staff. As such, for the duration of IndyFurCon, the event space of the Indianapolis Marriott East is a no media zone, unless written authorization is provided by Whoozfur Inc.  in advance of August 1st of the current convention year.</p>
<p>No one acting in a press capacity will be permitted to film, record audio, or take account of in any fashion any event taking place at IndyFurCon without prior concent. As pursuant to our terms of service, no person with a convention membership may act in a press or media capacity while on the premises of the Indianapolis Marriott East during the course of our event. Any person found to be violating our media policy will be ejected from the premises without refund, if applicable.</p>
<p>No exceptions will be made to this policy.</p>
<p>Any convention attendee that knowingly violates this policy or who attempts to facilitate access or entry to the convention proper will be prevented from returning to IndyFurCon in subsequent years. Access may include but is not limited to: onsite interviews in private hotel rooms, providing footage or pictures taken at the event, recording the event with the express intention of providing it to a third party for use in the media. Photographs and video are permitted for personal use.</p>
<p>IndyFurCon makes no implied license for the use of its trade name or logo in any media without express written consent of Whoozfur Inc.</p>
<p>Media outlets, bloggers, and students interested in attending and reporting on iFC <b>MUST</b> check in with con staff at the Registration Desk. Press badges and tours are available. Please note our media rules within the <a href="convention-policies#media">Convention Policy and Conduct Code</a> for further information on this matter.</p>
<div class="col-md-4">
    <a class="well policy-container" href="@Url.Action("ConventionAndConduct", "Policies")">
        <i class="fa fa-smile-o" aria-hidden="true"></i>
        <p>Convention Policy and Conduct Code</p>
    </a>
</div>
<div class="col-md-offset-4 col-md-4">
    <a class="well policy-container" href="@Url.Action("Privacy", "Policies")">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <p>Privacy Policy</p>
    </a>
</div>