﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, IndyFurConCore
@{
    ViewBag.Title = "Privacy Policy";
}
<h1>Privacy Policy</h1>
<h3>What information do we collect?</h3>
<p>We collect information from you when you register on our site, place an order, subscribe to our newsletter, respond to a survey or fill out a form.</p>
<p>When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number or credit card information. You may, however, visit our site anonymously.</p>
<h3>What do we use your information for?</h3>
<p>Any of the information we collect from you may be used in one of the following ways:</p>
<ul>
    <li>To personalize your experience (your information helps us to better respond to your individual needs)</li>
    <li>To improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you)</li>
    <li>To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)</li>
    <li>To process transactions (Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.)</li>
    <li>To administer a contest, promotion, survey or other site feature</li>
    <li>To send periodic emails (The email address you provide for order processing, may be used to send you information and updates pertaining to your order, in addition to receiving occasional company news, updates, related product or service information, etc.)</li>
</ul>
<p>Note: If at any time you would like to unsubscribe from receiving future emails, Send e-mail to <a data-mailto="oKE[CgiKe`S]IsMkeG_]<G_[">[email protected]</a> using the subject "Unsubscribe".</p>
<h3>How do we protect your information?</h3>
<p>We implement a variety of security measures to maintain the safety of your personal information when you place an order or access your personal information.</p>
<p>We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.</p>
<p>After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.</p>
<h3>Do we use cookies?</h3>
<p>Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.)</p>
<p>We use cookies to help us remember and process the items in your shopping cart, understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.</p>
<h3>Do we disclose any information to outside parties?</h3>
<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
<h3>Third party links</h3>
<p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
<h3>California Online Privacy Protection Act Compliance</h3>
<p>Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.</p>
<p>As part of the California Online Privacy Protection Act, all users of our site may make any changes to their information at anytime by logging into their control panel and going to the 'Edit Profile' page.</p>
<h3>Childrens Online Privacy Protection Act Compliance</h3>
<p>We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.</p>
<h3>Online Privacy Policy Only</h3>
<p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>
<h3>Your Consent</h3>
@* TODO: Web site privacy policy? *@
<p>By using our site, you consent to our <a href='privacy'>web site privacy policy</a>.</p>
<h3>Changes to our Privacy Policy</h3>
<p>If we decide to change our privacy policy, we will post those changes on this page, and/or send an email notifying you of any changes.</p>
<h3>Contacting Us</h3>
<p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>
<p>
    By email: <mail-to email="chairman@indyfurcon.com" class="icon-email"></mail-to>
    <div class="col-md-4">
        <a class="well policy-container" href="@Url.Action("ConventionAndConduct", "Policies")">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
<p>Convention Policy and Conduct Code</p>
    </a>
</div>
<div class="col-md-4">
    <a class="well policy-container" href="@Url.Action("MediaAndPress", "Policies")">
        <i class="fa fa-microphone" aria-hidden="true"></i>
        <p>Media and Press Policies</p>
    </a>
</div>