﻿@{
    ViewBag.Title = "Charity";
}

<div class="container-body">
    <div class="jumbotron">

        <h1>Charity</h1>
        <p>For the 7th year in a row, IndyFurCon 2017 raises donations for Southside Animal Shelter to rescue at-risk adoptable cats and dogs. To date, we've raised over $31,000 for charities, with $10,286 raised in 2016 alone.</p>
        <p>Donate your items to iFC's charity auction to support Southside Animal Shelter's mission to rescue at-risk cats and dogs! Bring your items to Operations by Saturday night and bid on items you want at the charity auction on Sunday.</p>
    </div>
    <h2>Southside Animal Shelter</h2>
    <dl class="charity-quick">
        <dt>Links</dt>
        <dd><a class="charity-link icon-paw" href="http://www.ssasi.org/">Southside Animal Shelter</a> <a class="charity-link icon-facebook" href="https://www.facebook.com/ssanimalshelter">Facebook</a> <a class="charity-link icon-twitter" href="https://twitter.com/SSAnimalShelter">Twitter</a></dd>
    </dl>
    <p>The mission of Southside Animal Shelter is to rescue healthy and treatable dogs and cats at risk of euthanasia, to nurture them, and to restore them to happy healthy lives in loving homes, and reserve euthanasia for those animals, in a veterinarian's professional opinion, who are in a state of terminal suffering or have been determined aggressive. Southside Animal Shelter is a private, nonprofit 501(c)3 organization which receives no government funding from the City of Indianapolis, Marion County, or the State of Indiana.</p>
    <p>For more information about Southside Animal Shelter, please visit their <a href="http://www.ssasi.org/">website</a>. We also encourage anyone that is able to help them out, whether volunteering (if you're local), <a href="http://www.ssasi.org/home/wishlistdonate.html">donating</a> (even if you aren't coming to the con), or even giving a loving home to one of their <a href="http://www.ssasi.org/adoptablecats.html">cats</a> or <a href="http://www.ssasi.org/adoptabledogs.html">dogs</a>.</p>
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-6">
            <iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fssanimalshelter&amp;colorscheme=light&amp;show_faces=false&amp;stream=true&amp;header=true&amp;width=600&amp;height=600" scrolling="yes" frameborder="0" style="width: 100%; height: 600px;" allowtransparency="true"></iframe>
        </div>
        <div class="col-md-6">
            <a class="twitter-timeline" href="https://twitter.com/SSAnimalShelter" data-widget-id="578856749483995136">Tweets by @@SSAnimalShelter</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>
    </div>
</div>
