﻿@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About IndyFurCon</h1>
    <h2>(and Affiliations)</h2>
    <p>What is it? What's it all about? Find out here!</p>
</div>
<h2 id="indyfurcon">IndyFurCon</h2>
<p><b>IndyFurCon</b> (<b>iFC</b>) is <a href="https://en.wikipedia.org/wiki/Indiana">Indiana</a>'s annual <a href="https://en.wikipedia.org/wiki/Furry_convention">furry convention</a> for fans of anthropomorphic creatures and art. Since 2010, iFC is attended annually in the state capital, <a href="https://en.wikipedia.org/wiki/Indianapolis">Indianapolis, IN</a>. Held around mid-August, it gives midwestern furries an event-filled weekend to get together with friends and have fun in the middle of the 5 months that separate <a href="https://en.wikifur.com/wiki/Anthrocon">Anthrocon</a> and <a href="https://en.wikifur.com/wiki/Midwest_FurFest">Midwest FurFest</a>. Further information is available on other pages throughout website.</p>
<div class="table-wrapper panel">
    <table id="history" class="about-history table table-striped">
        <tr><th>Dates</th><th>Hotel</th><th>Attendees</th><th>Fursuiters</th><th>Theme</th><th>Guest(s) of Honor</th><th>Charity</th><th>Raised</th></tr>
        <tr id="2010"><td>August 13-15, 2010</td><td>Hilton Indianapolis North</td><td>350</td><td>63</td><td>Tropical, Furry, Fun!</td><td><a href="https://en.wikifur.com/wiki/DBruin">DBruin</a></td><td><a href="http://www.exoticfelinerescuecenter.org/">Exotic Feline Rescue Center</a></td><td>$1,150</td></tr>
        <tr id="2011"><td>August 12-14, 2011</td><td>Hilton Indianapolis North</td><td>369</td><td>75</td><td>Furries of the Lost Ark</td><td><a href="https://en.wikifur.com/wiki/Tincrash">Tincrash</a></td><td><a href="http://www.ssasi.org/">Southside Animal Shelter</a></td><td>$1,212</td></tr>
        <tr id="2012"><td>August 10-12, 2012</td><td><a href="http://www.sheratonindianapoliskeystonecrossing.com/">Sheraton Indianapolis Hotel at Keystone Crossing</a></td><td>482</td><td>110</td><td>FURS IN SPACE!</td><td><a href="https://en.wikifur.com/wiki/Alkali_Bismuth">Alkali Bismuth</a>, <a href="https://en.wikifur.com/wiki/Chris_B._Critter">Chris B. Critter</a>, and <a href="https://en.wikifur.com/wiki/Skroy">Skroy</a></td><td><a href="http://www.ssasi.org/">Southside Animal Shelter</a></td><td>$2,500</td></tr>
        <tr id="2013"><td>August  9-11, 2013</td><td><a href="http://www.sheratonindianapoliskeystonecrossing.com/">Sheraton Indianapolis Hotel at Keystone Crossing</a></td><td>560</td><td>110</td><td>Back to School!</td><td><a href="https://en.wikifur.com/wiki/Bravo">Bravo</a> and <a href="https://en.wikifur.com/wiki/Twitch_Da_Woof">Twitch Da Woof</a></td><td><a href="http://www.ssasi.org/">Southside Animal Shelter</a></td><td>$2,455</td></tr>
        <tr id="2014"><td>August 29-31, 2014</td><td><a href="http://www.sheratonindianapoliskeystonecrossing.com/">Sheraton Indianapolis Hotel at Keystone Crossing</a></td><td>527</td><td>147</td><td>Storybook Villains</td><td><a href="https://en.wikifur.com/wiki/Bloodhound">Bloodhound</a></td><td><a href="http://www.ssasi.org/">Southside Animal Shelter</a></td><td>$6,000+</td></tr>
        <tr id="2015"><td>August 14-16, 2015</td><td><a href="http://www.marriott.com/hotels/travel/inddt-indianapolis-marriott-east/">Indianapolis Marriott East</a></td><td>735</td><td>223</td><td>As seen on TV!</td><td><a href="https://www.furaffinity.net/user/lyenuv">Lyenuv</a></td><td><a href="http://www.ssasi.org/">Southside Animal Shelter</a></td><td>$8,048</td></tr>
        <tr id="2016"><td>August 26-28, 2016</td><td><a href="http://www.marriott.com/hotels/travel/inddt-indianapolis-marriott-east/">Indianapolis Marriott East</a></td><td>1010</td><td>280</td><td>Indy Fur-Hundred</td><td><a href="https://en.wikifur.com/wiki/Orlando_Fox">Orlando Fox</a> and <a href="https://en.wikifur.com/wiki/Rhubarb_The_Bear">Rhubarb The Bear</a></td><td><a href="http://www.ssasi.org/">Southside Animal Shelter</a></td><td>$10,286</td></tr>
        <tr id="2017"><td>August 11-13, 2017</td><td><a href="http://www.marriott.com/hotels/travel/inddt-indianapolis-marriott-east/">Indianapolis Marriott East</a></td><td></td><td></td><td>We Love the 80s</td><td><a href="https://en.wikifur.com/wiki/Doryuu">Doryuu</a> and <a href="http://en.wikifur.com/wiki/Xander_The_Blue">Xander The Blue</a></td><td><a href="http://www.ssasi.org/">Southside Animal Shelter</a></td><td></td></tr>
    </table>
</div>
<h2 id="whoozfur">Whoozfur Inc</h2>
<p><a href="https://whoozfur.com/">Whoozfur Inc</a>, founded in 2009 as IndyFurCon's parent organization, is a non-profit 501(c)7 corporation whose sole purpose is to organize and produce a convention annually to showcase anthropomorphic art, creatures, and education.</p>
<p>Whoozfur is derived from Hoosier, a nickname that refers to a person from the state of Indiana, known as <i>The Hoosier State</i>. In 1998, when the Internet-based social group for Indiana furries was created, Whoozfur became its unofficial nickname and remains so to this day. We thought it only fitting for the parent company to run IndyFurCon to be named Whoozfur Inc.</p>
<h2 id="mascots">Mascots</h2>
<p>This convention celebrates Indiana. The <b>cardinal</b> is Indiana's state bird. Our <b>buffalo</b> is from Indiana's state seal.</p>
<div class="row">
    <div class="col-xs-6">
        <img class="img-responsive glow-container" src="images/ifc-mascots.jpg" width="1280" height="711">
    </div>
    <div class="col-xs-6">
        <img class="img-responsive glow-container" src="images/whoozfur-seal.jpg" width="503" height="480">
    </div>
</div>
