﻿@using IndyFurConCore.Web.Models;
@using IndyFurConCore.Util;
@using System.IO;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, IndyFurConCore
@model StaffCollection
@{
    ViewBag.Title = "Staff";
    const int RowColumnsBoard = 4;
    const int RowColumnsStaff = 5;
}

<style>
    .well h1,
    .well h2,
    .well h3,
    .well h4,
    .well h5,
    .well h6 {
        word-spacing: normal;
    }

    h1 > span {
        margin-top: 10px;
        font-size: 10px;
        top: -10px;
    }
</style>

<div class="container-body">
    <div class="jumbotron">

        <h1>Staff</h1>
        <p>
            To contact a staff member, click the green "Email" button on their profile card below.
            If the button is missing or you don't know who to contact, email your questions and comments
            to <mail-to email="chairman@indyfurcon.com" class="icon-email"></mail-to>
            and we'll get them to the right staff who will contact you soon.
        </p>
        <p>
            Would you like to work for iFC2017? If you have any skill set you think would be valuable,
            send us a run down on who you are, what experience you have, and what you'd like to do. We are always
            on the lookout for hard-working people who want to make iFC the best we can make it! Email
            <mail-to email="volunteer@indyfurcon.com"></mail-to> your resume today.
        </p>
        <a class="btn btn-info" href="@Url.Action("Volunteer", "About")">Volunteer Info&nbsp;<i class="fa fa-group"></i></a>
    </div>
    <h1>IFC Board</h1>
    <hr />
    @for (int i = 0; i < (int)Math.Ceiling(Model.Board.Count() / (float)RowColumnsBoard); i++) {
        <div class="row">
            @foreach (Staff staff in Model.Board.Skip(i * RowColumnsBoard).Take(RowColumnsBoard)) {
                <div class="col-sm-@(12 / RowColumnsBoard) ifc-board">
                    <div class="well text-center">
                        @if (!string.IsNullOrWhiteSpace(staff.ImageUrl)) {
                            <img class="img-fullwidth staff-icon" src="@Url.Content("~/" + staff.ImageUrl)" alt="staff-img-@staff.Title">
} else {
                            <img class="img-fullwidth staff-icon" alt="staff-img-@staff.Title">
}
                        <h3>@staff.Name</h3>
                        <h4>@staff.Title</h4>
                        @if (!string.IsNullOrWhiteSpace(staff.Bio)) {
                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#board-@staff.Id">More Info</button>
}

                        @if (!string.IsNullOrWhiteSpace(staff.EmailAddress)) {
                            <a class="btn btn-success btn-block" href="mailto:@staff.EmailAddress">Email</a>
}

                    </div>
                </div>
}
        </div>
    }
    <h1>Staff <span>(minions)</span></h1>
    <hr />
    @for (int i = 0; i < (int)Math.Ceiling(Model.Staff.Count() / (float)RowColumnsStaff); i++) {
        <div class="row">
            @foreach (Staff staff in Model.Staff.Skip(i * RowColumnsStaff).Take(RowColumnsStaff)) {
                <div class="col-sm-@(12 / RowColumnsStaff) ifc-staff">
                    <div class="well text-center">
                        @if (!string.IsNullOrWhiteSpace(staff.ImageUrl)) {
                            <img class="img-fullwidth staff-icon" src="@Url.Content("~/" + staff.ImageUrl)" alt="staff-img-@staff.Title">
} else {
                            <img class="img-fullwidth vhs-blur-box staff-icon" src="@Url.Content("~/images/staff/nopic.jpg")" alt="staff-img-@staff.Title-no-img">
}
                        <h3>@staff.Name</h3>
                        <h4>@staff.Title</h4>
                        @if (!string.IsNullOrWhiteSpace(staff.Bio)) {
                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#staff-@staff.Id">More Info</button>
}

                        @if (!string.IsNullOrWhiteSpace(staff.EmailAddress)) {
                            <a class="btn btn-success btn-block" href="mailto:@staff.EmailAddress">Email</a>
}

                    </div>
                </div>
}
        </div>
    }
</div>

@foreach (Staff staff in Model.Board.Where(s => !string.IsNullOrWhiteSpace(s.Bio))) {
    <div class="modal fade" id="board-@staff.Id" tabindex="-1" role="dialog" aria-labelledby="#board-@staff.Id-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <div class="row">
                        <div class="col-md-4">
                            <img class="staff-icon" src="@Url.Content("~/" + staff.ImageUrl)" alt="staff-img-@staff.Title">
                        </div>
                        <div class="col-md-8">
                            <h1 class="modal-title" id="@staff.Id-label">@staff.Name</h1>
                            <h3 class="modal-title" id="@staff.Title-label">@staff.Title</h3>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <p>@Html.Raw(staff.Bio)</p>
                </div>
                <div class="modal-footer">
                    @if (!string.IsNullOrWhiteSpace(staff.EmailAddress)) {
                        <a type="button" class="btn btn-success" href="mailto:@staff.EmailAddress">Email</a>
}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@foreach (Staff staff in Model.Staff.Where(s => !string.IsNullOrWhiteSpace(s.Bio))) {
    <div class="modal fade" id="staff-@staff.Id" tabindex="-1" role="dialog" aria-labelledby="#staff-@staff.Id-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <div class="row">
                        <div class="col-md-4">
                            <img class="staff-icon" src="@Url.Content("~/" + staff.ImageUrl)" alt="staff-img-@staff.Title">
                        </div>
                        <div class="col-md-8">
                            <h1 class="modal-title" id="@staff.Id-label">@staff.Name</h1>
                            <h3 class="modal-title" id="@staff.Title-label">@staff.Title</h3>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <p>@Html.Raw(staff.Bio)</p>
                </div>
                <div class="modal-footer">
                    @if (!string.IsNullOrWhiteSpace(staff.EmailAddress)) {
                        <a type="button" class="btn btn-success" href="mailto:@staff.EmailAddress">Email</a>
}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}