﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, IndyFurConCore
@using IndyFurConCore.Util;
@{
    ViewBag.Title = "Register";
}

<div class="jumbotron">
    <h1>Volunteer</h1>
    
    <p>
        We need all the volunteers we can get to help make the convention a success.
        If you have skills that you would like to make available to us, please email <mail-to email="volunteer@indyfurcon.com" class="icon-email"></mail-to>
        and let us know you are willing to help out. We are going to strive to have some special benefits for our volunteers.
        Please email <mail-to email="volunteer@indyfurcon.com" class="icon-email"></mail-to> with any questions about volunteering.
    </p>
    <p>
        If you are applying to be a volunteer, your role with the convention will be later determined based on your
        skills, interests, qualifications, and the needs of the convention.
    </p>
</div>

<div class="container-body">
    <h2>Rewards</h2>
    <ul>
        <li>4 hours = Free sponsor print</li>
        <li>8 hours = Free iFC t-shirt</li>
        <li>16 hours = Free iFC 2017 Registration</li>
        <li>24 hours = Free iFC 2017 Sponsor Registration</li>
    </ul>
    <h2>Please Note</h2>
    <ul>
        <li>General Admission membership is required to volunteer your first year</li>
        <li>We are unable to offer sleeping space for volunteers.</li>
    </ul>
    <p>
        Whoozfur Inc. strives to provide an equal opportunity to volunteer. Our decision to accept volunteers will
        in no way be effected by the applicant's species, gender, sexual orientation, age, location, nationality,
        or any furry interests and affiliations.
    </p>
</div>
