﻿@{
    ViewBag.Title = "Dance Competition";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, IndyFurConCore
<style>
</style>

<div class="jumbotron">
    <h1>Fursuit Dance Competition</h1>
    <p>IndyFurCon is bringing back the Fursuit Dance Competition for its third annual year, hosted by Ronnie. With exciting performances from talented dancers, both familiar and new, we can’t wait to see what level of competition arises this year.</p>
    <p>For a preview, check out previous years' dancers on YouTube from <a class="icon-youtube" href="https://www.youtube.com/playlist?list=PLfKZSkRIF-hyyalU7gBdD2gVXR4WEXv50">2016</a>, <a class="icon-youtube" href="https://www.youtube.com/playlist?list=PLfKZSkRIF-hypdSZbDeCcBYfvf9wSVmMg">2015</a>, and <a class="icon-youtube" href="https://www.youtube.com/user/TheIndyFurCon/videos">2014</a>.</p>
</div>
<div class="row">

    <div class="col-md-6">
        <div class="well">
            <h2>Room</h2>
            <p>Liberty Hall</p>
            <hr />
            <h2>Day</h2>
            <p>Saturday, August 12 at 8:00PM</p>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-block btn-success" href="https://docs.google.com/document/d/1EmlBJzIJBPrZ1Yn-iB5gC4aHDPc5O8FOZDmboAIKtO0/edit" target="_blank"><h1 class="margin-20">Rules</h1></a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-block btn-primary" href="https://docs.google.com/a/indyfurcon.com/forms/d/e/1FAIpQLSf0JE2pK3_omGUTEjyjjO6evEZzsmqWYv9u09T2RR-VDXxDcg/viewform?c=0&w=1" target="_blank"><h1 class="margin-20">Registration</h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <div class="row content-wrapper">
                <div class="col-md-12">
                    <h2 class="no-margin-top">Host</h2>
                    <hr class="no-margin-top" />
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-12 img-container">
                            <img class="staff-icon max-width-50" src="@Url.Content("~/images/staff/ronnie.png")" />
                        </div>
                        <div class="col-md-12 info-container margin-top-20">
                            <h3 class="font-lazer84">Ronnie</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<dt>Host</dt>
    <dd class="icon-bust-male">Ketaki</dd>
    <dt>Judges</dt>
    <dd class="icon-gavel">TBD</dd>*@

<p><a href="https://docs.google.com/document/d/1EmlBJzIJBPrZ1Yn-iB5gC4aHDPc5O8FOZDmboAIKtO0/edit">Official Rules</a> should be read before dancing, obviously. To sign up, submit a <a class="icon-form-pencil" href="https://docs.google.com/a/indyfurcon.com/forms/d/e/1FAIpQLSf0JE2pK3_omGUTEjyjjO6evEZzsmqWYv9u09T2RR-VDXxDcg/viewform?c=0&w=1">iFC 2017 Dance Competition Sign-Up Form</a>, and/or join the <a href="https://docs.google.com/document/d/1_nnXcjLO_-sZcDtA63X_ZLXb1e6uf4cE_fWHgpeKo70/edit?ts=596165e2">Floor Wars</a>. Email your Dance Competition questions to <mail-to email="Pandez@indyfurcon.com"></mail-to>.</p>
