﻿@{
    ViewBag.Title = "Floor Wars";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, IndyFurConCore
<style>
    .btn {
        font-family: Simpleness;
    }
</style>

<div class="jumbotron">
    <h1>Floor Wars</h1>
    <p>Join us for IndyFurCon's first official Floor wars!</p>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2>Room</h2>
            <p>Liberty Hall</p>
            <hr />
            <h2>Day</h2>
            <p>Friday, August 12 at 8:30PM</p>
            <a class="btn btn-block btn-success"  href="https://docs.google.com/document/d/1_nnXcjLO_-sZcDtA63X_ZLXb1e6uf4cE_fWHgpeKo70/edit?ts=596165e2" target="_blank"><h1 class="margin-20">Rules and Registration</h1></a> 
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <div class="row content-wrapper">
                <div class="col-md-12">
                    <h2 class="no-margin-top">Hosts</h2>
                    <hr class="no-margin-top" />
                </div>
                <div class="row">
                    <div class="col-lg-6 host-spacer" >
                        <div class="col-md-12 img-container">
                            <img class="staff-icon" src="@Url.Content("~/images/staff/ronnie.png")" />
                        </div>
                        <div class="col-md-12 info-container margin-top-20">
                            <h3 class="font-lazer84">Ronnie</h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-md-12 img-container">
                            <img class="staff-icon" src="@Url.Content("~/images/doryuu.jpg")" />
                        </div>
                        <div class="col-md-12 info-container margin-top-20">
                            <h3 class="font-lazer84">Doryuu</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<dt>Host</dt>
    <dd class="icon-bust-male">Ketaki</dd>
    <dt>Judges</dt>
    <dd class="icon-gavel">TBD</dd>*@
<p>Official rules and registration: <a href="https://docs.google.com/document/d/1_nnXcjLO_-sZcDtA63X_ZLXb1e6uf4cE_fWHgpeKo70/edit?ts=596165e2" target="_blank">Floor Wars</a>. Email your Floor War questions to <mail-to email="Pandez@indyfurcon.com"></mail-to>.</p>
