﻿@{
    ViewBag.Title = "Hotel";
}
<div class="jumbotron">
    <h1>Hotel</h1>
    <h2>Hotel reservations are open!</h2>
    @*<p>iFC is pleased to announce our 2017 convention hotel is the <a href="#marriott">Indianapolis Marriott East</a>! Ya'll are gonna love this hotel, it keeps being AWESOME. But wait, there's more! We've negotiated a room block next door at the <a href="#icch">Indianapolis Conference Center Hotel</a> so that rooms booked at both hotels count towards our convention block. Stay on-site at the <a href="#marriott">Marriott</a>, one elevator ride to the convention floor, or stay at the <a href="#icch">ICCH</a>, a quick walk to the convention. If you'd like to share part of a room, check out attendees' room-sharing offers or requests on <a class="icon-world-link" href="https://www.conroomies.com/">ConRoomies.com</a>, <a class="icon-group" href="https://whoozfur.com/forums/forum/indyfurcon/room-share/">Whoozfur's room share forum</a>, and/or on Twitter to be retweeted by <a class="icon-twitter" href="https://twitter.com/IndyFurCon">@@IndyFurCon</a>.</p>*@
    <p>
        <a class="font-simpleness" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Indy%20FurCon%202017%5EINDDT%60RUFRUFA%60112%60USD%60false%605%608/9/17%608/14/17%607/10/17&app=resvlink&stop_mobi=yes">Reserve a room at the Marriott for IndyFurCon2017 here</a>
        or you may utilize Marriott's in-house reservation team at
        <a href="tel:1-317-322-3716">+1-317-322-3716 x1202</a>
        with group code IndyFurCon. Another option for your stay is the newly renovated Florence Garden Hotel. Reserve a room with group code IndyFurCon using the same phone number listed above.
    </p>
    <p>
        iFC is pleased to announce our 2017 convention hotel is the
        <a href="https://indyfurcon.com/Attend/Hotel#marriott">Indianapolis Marriott East!</a>
        Ya'll are gonna love this hotel; it keeps being RADICAL! We've ALSO negotiated a room block next door at the
        <a href="https://indyfurcon.com/Attend/Hotel#fgh">Florence Garden Hotel</a>
        so that rooms booked at both hotels count towards our convention block. Stay on-site at the
        <a href="https://indyfurcon.com/Attend/Hotel#marriott">Marriott</a>,
        one elevator ride to the convention floor, or stay at the
        <a href="https://indyfurcon.com/Attend/Hotel#fgh">FGH</a>,
        just steps away. If you'd like to share part of a room, check out attendees' room-sharing offers or requests on
        <a href="https://www.conroomies.com/">ConRoomies.com</a>,
        <a href="https://whoozfur.com/forums/forum/indyfurcon/room-share/">Whoozfur's room share forum</a>,
        and/or on Twitter to be retweeted by
        <a href="https://twitter.com/IndyFurCon">@@IndyFurCon</a>.
    </p>
    <p>Monday, July 10, 2017 is the last day to book your rooms for the weekend of Wednesday-Monday, August 9-14, 2017. In addition to Marriott's standard king and double rooms, first floor patio rooms around the courtyard and sixth floor suites (which have the option to all connect together) are available:</p>
    <p>
        $112 - Standard King or 2 Double Beds - 240-300 ft²
        <br />
        $127 - Standard King or 2 Double Beds - 240-300 ft² - around the courtyard with a patio
        <br />
        $142 - One Bedroom Suite - 448 ft²
        <br />
        $162 - Presidential Suite - 900 ft²
    </p>
    <p>
        Rooms booked online will be standard king or 2 double beds. To reserve a patio/courtyard room or a suite, first reserve a standard room, then call the reservation team at
        <a href="tel:1-317-322-3716">+1-317-322-3716 x1202</a>
        to upgrade. If you want a suite with a connecting door to a friend's room, make sure to mention this to the reservation agent (and have your friends do the same) so they can do their best to place you in adjoining suites!
    </p>
</div>
<p>
    &sup1; Indianapolis' 17% hotel tax is subject to change without notice.
</p>
<h2 id="marriott">Indianapolis Marriott East</h2>
<div class="row margin-20">
    <div class="col-md-6">
        <dl class="hotel-quick">
            <dt>Address</dt>
            <dd class="icon-map-pin"><a href="https://www.google.com/maps/place/Indianapolis+Marriott+East,+7202+E+21st+St,+Indianapolis,+IN+46219">7202 E 21st St, Indianapolis, IN 46219</a></dd>
            <dt>Front Desk</dt>
            <dd class="icon-desk-bell"><a class="tel" href="tel:+1-317-352-1231">+1-317-352-1231</a></dd>
            <dt>Links</dt>
            <dd><a class="hotel-link icon-marriott" href="https://www.marriott.com/hotels/travel/inddt-indianapolis-marriott-east/">Marriott</a> <a class="hotel-link icon-twitter" href="https://twitter.com/MarriottIndyE">Twitter</a> <a class="hotel-link icon-facebook" href="https://www.facebook.com/pages/Indianapolis-Marriott-East/770712699631338">Facebook</a></dd>
        </dl>
        <div id="marriottc" class="carousel slide glow-container" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#marriottc" data-slide-to="0" class="active"></li>
                <li data-target="#marriottc" data-slide-to="1"></li>
                <li data-target="#marriottc" data-slide-to="2"></li>
                <li data-target="#marriottc" data-slide-to="3"></li>
                <li data-target="#marriottc" data-slide-to="4"></li>
                <li data-target="#marriottc" data-slide-to="5"></li>
                <li data-target="#marriottc" data-slide-to="6"></li>
                <li data-target="#marriottc" data-slide-to="7"></li>
                <li data-target="#marriottc" data-slide-to="8"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active"><img src="@Url.Content("~/images/inddt_phototour80.jpg")" width="610" height="423"></div>
                <div class="item"><img src="@Url.Content("~/images/inddt_phototour79.jpg")" width="610" height="423"></div>
                <div class="item"><img src="@Url.Content("~/images/inddt_phototour82.jpg")" width="610" height="423"></div>
                <div class="item"><img src="@Url.Content("~/images/inddt_phototour48.jpg")" width="610" height="423"></div>
                <div class="item"><img src="@Url.Content("~/images/inddt_phototour69.jpg")" width="610" height="423"></div>
                <div class="item"><img src="@Url.Content("~/images/inddt_phototour65.jpg")" width="610" height="423"></div>
                <div class="item"><img src="@Url.Content("~/images/inddt_phototour83.jpg")" width="610" height="423"></div>
                <div class="item"><img src="@Url.Content("~/images/inddt_phototour61.jpg")" width="610" height="423"></div>
                <div class="item"><img src="@Url.Content("~/images/inddt_phototour63.jpg")" width="610" height="423"></div>
            </div>
            <a class="left carousel-control" href="#marriottc" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#marriottc" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-6 hotel-container">
        <iframe class="hotel-map glow-container" src="https://www.google.com/maps/embed/v1/place?q=Indianapolis+Marriott+East,+7202+E+21st+St,+Indianapolis,+IN+46219&amp;key=@ViewData["ApiKey"]"></iframe>
    </div>
</div>
<p>If you have any questions about the Indianapolis Marriott East, please call the hotel front desk at <a class="tel" href="tel:+1-317-352-1231">+1-317-352-1231</a>.</p>
<p>We've raised the roof at Indianapolis Marriott East to create a beautifully dramatic setting. The glowing glass roof with 66 skylights is a visible beacon of hospitality. Our spectacular new lobby and Greatroom space energizes our guests with ever-changing natural light and rich natural textures. We have over 75,000 square feet of column-free meeting facilities all on one floor for unlimited flexibility. With style all its own, this hotel in Indianapolis, IN, takes center stage offering 315 newly renovated guest rooms, 41 suites and Concierge Level rooms. As a top hotel in Indianapolis East, our spacious guest rooms provide extra comforts, including European showerheads, Marriott Revive bedding, pillowtop mattresses, luxurious linens, 37-inch flat-screen TVs, connectivity panels, wireless options and Thann products. Start the day smart in the Skylight Java Café or enjoy the evening in our Skylight Bistro &amp; Wine Bar. Your choices are boundless.</p>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<h2 id="fgh">Florence Garden Hotel
    </h2>
<div class="row margin-20 no-margin-top">
    <div class="col-md-6">
        <dl class="hotel-quick">
            <dt>Address</dt>
            <dd class="icon-map-pin"><a href="https://www.google.com/maps/place/Florence+Garden+Hotel/39.7974234,-86.0412085,17z/data=!3m1!4b1!4m5!3m4!1s0x886b4ee4444db629:0x949ec1adf5a06c74!8m2!3d39.7974199!4d-86.039368">7304 E 21st St, Indianapolis, IN 46219</a></dd>
            <dt>Front Desk</dt>
            <dd class="icon-desk-bell"><a class="tel" href="tel:+1-317-359-1021">+1-317-359-1021</a></dd>
        </dl>
        <div id="fghc" class="carousel slide glow-container" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#fgh" data-slide-to="0" class="active"></li>
                <li data-target="#fgh" data-slide-to="1"></li>
                <li data-target="#fgh" data-slide-to="2"></li>
                <li data-target="#fgh" data-slide-to="3"></li>
                <li data-target="#fgh" data-slide-to="4"></li>
                <li data-target="#fgh" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active"><img src="@Url.Content("~/images/hotel/fgh/fgh1.jpg")" width="667" height="500"></div>
                <div class="item"><img src="@Url.Content("~/images/hotel/fgh/fgh2.jpg")" width="667" height="500"></div>
                <div class="item"><img src="@Url.Content("~/images/hotel/fgh/fgh3.jpg")" width="667" height="500"></div>
                <div class="item"><img src="@Url.Content("~/images/hotel/fgh/fgh4.jpg")" width="667" height="500"></div>
                <div class="item"><img src="@Url.Content("~/images/hotel/fgh/fgh5.jpg")" width="667" height="500"></div>
                <div class="item"><img src="@Url.Content("~/images/hotel/fgh/fgh6.jpg")" width="667" height="500"></div>
            </div>
            <a class="left carousel-control" href="#fghc" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#fghc" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-6 hotel-container">
        <iframe class="hotel-map glow-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3065.4266817074126!2d-86.0415566846228!3d39.79741987944204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886b4ee4444db629%3A0x949ec1adf5a06c74!2sFlorence+Garden+Hotel!5e0!3m2!1sen!2sus!4v1489766480706&amp;key=@ViewData["ApiKey"]"></iframe>
    </div>
</div>
<p>If you have any questions about Florence Garden Hotel, please call the front desk at <a class="tel" href="tel:+1-317-359-1021">+1-317-359-1021</a>.</p>
<p>The Florence Garden Hotel will add a boutique hotel option to our Indianapolis Conference Center campus. This Florence, Italy-inspired property features manicured gardens, fountains and arched entryway. Complete with brand new 8,000sf banquet venue featuring replica Trevi Fountain – be the first to experience a stay at the completed Florence Garden Hotel.</p>
<p>Currently, this property is undergoing major room renovations and adding an impressive, new gathering space. This property also offers sheltered connectivity to the Indianapolis Marriott East.</p>
