﻿@{
    ViewBag.Title = "Schedule";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, IndyFurConCore

<style>
    #sched {
        background: #d0d0d0;
    }
</style>


<div class="jumbotron">
    <h1>Programming</h1>
    <p>iFC 2017 will have more programming than ever before. This means more opportunities to be a part of the events you truly enjoy from stand-up comedy to dances, from game shows to fursuiting, there will be something for everybody at iFC 2017.</p>
    <div class="row margin-20" >
        <div class="col-md-6">
            <a class="btn btn-block btn-primary" href="@Url.Action("DanceCompetition", controller: "Attend")"><h2 class="margin-20">Dance Competition</h2></a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-block" href="@Url.Action("FloorWars", controller: "Attend")"><h2 class="margin-20">Floor Wars</h2></a>
        </div>
    </div>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#highlights" aria-controls="highlights" role="tab" data-toggle="tab">Highlights</a></li>
    <li role="presentation"><a href="#sched" aria-controls="sched" role="tab" data-toggle="tab">Schedule</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="highlights">
        <ul>
            <li><u>Uncle Kage's Story Hour</u> - Uncle Kage is well known around the world in the furry community for his show, "Uncle Kage's Story Hour", various panels he hosts, and for being an auctioneer.</li>
            <li><u>Whose Lion Is It Anyway</u> - Join us for the original Whose Lion is it Anyway improv panel! This fully interactive panel will have you in stitches will you, the audience plays your favorite games with two of your favorite hosts! Come join us for a night of laughs and Alkali slapping his forehead.</li>
            <li><u>Snerf Wars</u> - Have you ever seen a fox with a rocket launcher? Here's your chance! Bring your dart blasters and your sniper skills to the battlefield as you fight it out with your fellow con attendees. Be the last one standing!</li>
            <li><u>Mystery Science Theater</u> - Furry style! Come join at least half of our board as they verbally rip a movie of our choosing to shreds! <u>(Huscoon, you're in charge, don't burn down the hotel!)</u> Alkali will be cussing, Xander will be encouraging that cussing, and Pandez will be drunk with power.</li>
            <li><u>Fursuit Dance Competition</u> - Tell all your friends, especially the <a class="icon-twitter" href="https://twitter.com/DancerFurs">@@DancerFurs</a>, iFC2017 is having its fourth <a href="@Url.Action("DanceCompetition", "Attend") ">Fursuit Dance Competition</a>. Guaranteed to be a full-house event, you don't want to miss the action! Check out these YouTube playlists for videos of iFC's Dance Competitions from <a class="icon-youtube" href="https://www.youtube.com/watch?v=awev-aXD4CE&list=PLnsKfkB9Qm2ZMDxWBfdDaHKd_hv8e0Uz-">2016</a>, <a class="icon-youtube" href="https://www.youtube.com/playlist?list=PLfKZSkRIF-hypdSZbDeCcBYfvf9wSVmMg">2015</a> and <a class="icon-youtube" href="https://www.youtube.com/user/TheIndyFurCon/videos">2014</a>.</li>
            <li><u>Fursuit Games</u> - The critters of IndyFurCon are at it again! Come and watch as the fursuiters of IndyFurCon compete in rowdy, hilarious games and challenges.</li>
            <li><u>Charity Poker Tournament</u> - Come play poker in a relaxed and friendly atmosphere.  All proceeds go to support the charity.  All experience levels welcome!</li>
            <li><u>Video Gaming Tournaments</u> - Whether Mario Kart, Rocket League, or Smash Bros. is your game, we've got the tournament for you. Come by the Video Gaming Room on Friday to qualify for the Finals, taking place on the big screen in our Main Ballroom on Saturday!</li>
            <li><u>Friday Night Karaoke</u> - Show us your pipes as you belt out to your favorite tunes! We'll be bringing you the good, the bad, and the ugly! Hear everything from Show Tunes to Today's Top Hits!</li>
            <li><u>Saturday Night Dance</u> - What would a furry con be without some of our top DJs, sharing music for our attendees on the dance floor? Get out on the floor and work it, shake it, drop it, twerk it, dab it, or whatever verb best describes it!</li>
        </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="sched">
        <a id="sched-embed" class="glow-container" href="http://indyfurcon2017.sched.com/grid/">View the IndyFurCon mobile app</a>
        <script type="text/javascript" src="http://indyfurcon2017.sched.com/js/embed.js"></script>
    </div>
</div>
<p>All information on this page and sub pages thereof is tentative and subject to change at any time. Please be aware that in the event of an event change, we will make an announcement of the change and will plan accordingly.</p>
<!-- Get it? I put panel information in a panel div... I'M FUNNY I SWEAR -->
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 id="run" class="no-margin-top no-margin-bot">Run an Event! (closed)</h3>
    </div>
    <div class="panel-body">
        <p>The iFC2017 programming form is now closed. All prospective panelists will be contacted by iFC staff in the coming days. The official iFC schedule will be released later this month. E-mail any programming related questions to <mail-to email="Huscoon@indyfurcon.com"></mail-to>.</p>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 id="run" class="no-margin-top no-margin-bot">Be The DJ! (closed)</h3>
    </div>
    <div class="panel-body">
        <p>The iFC2017 DJ application is now closed. All prospective DJs will be contacted by iFC staff in the coming days regarding their time slot.</p>
    </div>
</div>

