﻿@{
    ViewBag.Title = "Travel";
}

<h1>Travel</h1>
<p>For any travel questions not covered here, please email <a data-mailto="ieCmKY`S]IsMkeG_]<G_[">[email protected]</a> or tweet <a href="https://twitter.com/IndyFurCon">@@IndyFurCon</a>, and we'll look into it for you!</p>
<h2 id="road">By Road</h2>
<p>For directions to <a class="icon-map-pin" href="https://www.google.com/maps/place/Indianapolis+Marriott+East,+7202+E+21st+St,+Indianapolis,+IN+46219">Indianapolis Marriott East</a>, enter your starting point in Google Maps' <a class="icon-car-red" href="https://www.google.com/maps/dir//Indianapolis+Marriott+East,+7202+East+21st+Street,+Indianapolis,+IN+46219/">driving directions</a>. Check below for <a href="#parking">parking</a> information.</p>
<h2 id="air">By Air</h2>
<p>IndyFurCon is a 23 mile drive from <a class="icon-map-pin" href="https://www.google.com/maps/place/Indianapolis+International+Airport,+7800+Col.+H.+Weir+Cook+Memorial+Dr,+Indianapolis,+IN+46241/">Indianapolis International Airport</a> (<a href="http://www.indianapolisairport.com/">IND</a>). The <a class="icon-car-red" href="https://www.google.com/maps/dir/Indianapolis+International+Airport,+7800+Col.+H.+Weir+Cook+Memorial+Drive,+Indianapolis,+IN+46241/Indianapolis+Marriott+East,+7202+East+21st+Street,+Indianapolis,+IN+46219/">fastest street route</a> is 25 minutes without traffic. The fastest route may vary, as there are two short routes.</p>
<p><a href="http://www.indygo.net/">IndyGo</a> bus is the absolute cheapest ground transportation at $3.50 for a 2-bus trip (or $4 for a <a href="http://buy.indygo.net/">1 day pass</a>) but the <a class="icon-bus-yellow" href="https://www.google.com/maps/dir/Indianapolis+International+Airport,+7800+Col.+H.+Weir+Cook+Memorial+Drive,+Indianapolis,+IN+46241/Indianapolis+Marriott+East,+7202+East+21st+Street,+Indianapolis,+IN+46219/@@39.7559325,-86.3022764,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x886ca7aaf0a1ffa1:0x248add2283fd672f!2m2!1d-86.2955952!2d39.7168593!1m5!1m1!1s0x886b4ee4bc8a6d99:0xf18e38f08dec19a!2m2!1d-86.041109!2d39.797248!3e3">fastest bus route</a> takes 1.5 to 2 hours.</p>
<p>From IND to the hotel, <a href="https://www.uber.com/cities/indianapolis">UberX</a> is estimated $28-$37. <a href="https://www.lyft.com/cities/indianapolis">Lyft</a> is estimated $37.<br>From the hotel to IND, <a href="https://www.uber.com/cities/indianapolis">UberX</a> is estimated $26-$34. <a href="https://www.lyft.com/cities/indianapolis">Lyft</a> is estimated $34.<br>Lyft and Uber may have coupons for credit towards your first ride with the service. If you find a promo code that works, let us know so we can post it here and tweet it from <a href="https://twitter.com/IndyFurCon">@@IndyFurCon</a>.</p>
<p>Taxis are estimated $50 fare + $7.50 15% tip + $0.65 per each additional passenger.</p>
<h2 id="bus">By Bus</h2>
<p><a href="https://www.greyhound.com/">Greyhound</a> may have multiple cheap bus options. For example, Chicago to Indianapolis is $41 round-trip (as of July 26, 2015) with 7-8 busses per day on Thursday and Monday. Transportation to/from the hotel is $3.50 and 1 hour via IndyGo bus (or $4 for a <a href="http://buy.indygo.net/">1 day pass</a>) or an estimated $16 and 15 minutes via Lyft or Uber. Greyhound allows 1 carry-on and 1 checked bag with size and weight restrictions matching airlines'.</p>
<h2 id="train">By Train</h2>
<p><a href="http://www.amtrak.com/">Amtrak</a> from Chicago for $38 round-trip (as of July 26, 2015) is the only reasonable option with checked baggage. 50 Cardinal departs Thursday 5:45pm - 11:50pm. 51 Cardinal returns Mon 6:00am - 10:05am. IndyGo does not run between 12am and 6am, so Lyft or Uber is the cheapest option between downtown and the hotel at an estimated $16 each way.</p>
<h2 id="parking">Parking</h2>
<p>Your Marriott reservation includes one complimentary parking permit for parking west and south of the hotel. Additional parking permits are available for $10/day. Vehicles without a parking permit can park for free in the visitor lot between the Marriott and La Quinta.</p>
<img class="img-fullwidth glow-container" src="@Url.Content("~/images/parking.jpg")">